<template>
    <div
        :id="id"
        :class="[ boxed ? 'accordion--boxed' : null, listClass ]"
        class="accordion">
        <div
            v-for="section in localValue"
            :key="`toc-section-${section.id}`"
            class="accordion__item"
            :class="[ section.visible ? 'open' : null ]">
            <div v-b-toggle="`toc-section-${section.id}`" style="width: 100%">
                <b-link
                    style="width: 300px"
                    class="accordion__toggle">
        <span
            class="flex"
            v-text="section.title"/>
                    <md-icon
                        class="accordion__toggle-icon"
                        v-text="'keyboard_arrow_down'"/>
                </b-link>
            </div>
            <b-collapse
                :id="`toc-section-${section.id}`"
                :ref="`toc-collapse-${section.id}`"
                :accordion="accordionId"
                :visible="section.visible"
                class="accordion__menu"
                @hide="section.visible = false"
                @show="section.visible = true">
                <div
                    v-if="section.visible"
                    v-for="item in section.items"
                    :key="`toc-item-${item.id}`"
                    :class="{ active: item.active }"
                    style="background: #f5f7fa; padding-left: 0;"
                    class="accordion__menu-link d-flex">
                    <!-- <span class="material-icons icon-16pt icon--left text-primary">play_circle_outline</span> -->
                    <div class="accordion__menu-title-container"
                         style="width: 300px; padding-left: 1.5rem">
                        <span
                            :class="`icon-holder--${iconHolderVariant(item)}`"
                            class="icon-holder icon-holder--small rounded-circle d-inline-flex icon--left">
            <md-icon
                class="icon-16pt"
                v-text="icon(item)"/>
          </span>
                        <b-link
                            :to="linkTo(item)"
                            class="flex"
                            v-text="item.title"/>
                    </div>
                    <div class="accordion__menu-td" v-for="tdItem in items" style="flex: 1; text-align: center;">
                        <md-icon
                            v-if="item.locked "
                            class="icon-16pt"
                            v-text="'lock'"/>
                        <template v-else-if="item.done">
                            {{ tdItem.func() }}
                        </template>
                        <template v-else-if="item.active">
                            <span v-if="Math.floor(Math.random() * (1 - 0 + 1) + 0)">
                                {{ tdItem.func() }}
                            </span>
                            <md-icon
                                v-else
                                style="color: #64696f;"
                                class="icon-16pt"
                                v-text="'lock'"/>
                        </template>
                    </div>
                </div>
            </b-collapse>
        </div>
    </div>
</template>

<script>
    const uniqueId = require('lodash/uniqueId')
    import routeTo from '~/mixins/route-to'
    import MdIcon from '~/components/Ui/MdIcon.vue'

    export default {
        components: {
            MdIcon,
        },
        mixins: [routeTo],
        model: {
            prop: 'value',
            event: 'change',
        },
        props: {
            items: {
                type: Array
            },
            guest: {
                type: Boolean,
                default: true,
            },
            listClass: {
                type: String,
                default: null,
            },
            boxed: {
                type: Boolean,
            },
            accordionId: {
                type: String,
                default () {
                    return this.id
                },
            },
            value: {
                type: Array,
                default () {
                    return [
                        {
                            id: 1,
                            visible: false,
                            title: 'Course Overview',
                            items: [
                                {
                                    id: 1,
                                    title: 'Watch Trailer',
                                    duration: '1m 10s',
                                    type: 'lesson',
                                    done: true,
                                }],
                        }, {
                            id: 2,
                            visible: true,
                            title: 'Getting Started with Angular',
                            items: [
                                {
                                    id: 2,
                                    title: 'Introduction',
                                    duration: '8m 42s',
                                    type: 'lesson',
                                    done: true,
                                }, {
                                    id: 3,
                                    title: 'Introduction to TypeScript',
                                    duration: '50m 13s',
                                    type: 'lesson',
                                    active: true,
                                }, {
                                    id: 4,
                                    title: 'Comparing Angular to AngularJS',
                                    duration: '12m 10s',
                                    type: 'lesson',
                                    locked: true,
                                }, {
                                    id: 5,
                                    title: 'Quiz: Getting Started With Angular',
                                    icon: 'hourglass_empty',
                                    type: 'quiz',
                                    locked: true,
                                }],
                        }, {
                            id: 3,
                            visible: false,
                            title: 'Creating and Communicating Between Angular Components',
                            items: [
                                {
                                    id: 6,
                                    title: 'Angular Components',
                                    duration: '4m 23s',
                                    type: 'lesson',
                                    locked: true,
                                }],
                        }, {
                            id: 4,
                            visible: false,
                            title: 'Exploring the Angular Template Syntax',
                            items: [
                                {
                                    id: 7,
                                    title: 'Template Syntax',
                                    duration: '2m 34s',
                                    type: 'lesson',
                                    locked: true,
                                }],
                        }]
                },
            },
        },
        data () {
            return {
                localValue: this.value,
            }
        },
        computed: {
            id () {
                return uniqueId('accordion_')
            },
        },
        watch: {
            value (newVal, oldVal) {
                if (newVal !== oldVal) {
                    this.localValue = newVal
                }
            },
            localValue: {
                deep: true,
                handler (newVal, oldVal) {
                    this.$emit('change', newVal)
                },
            },
        },
        methods: {
            linkTo (item) {
                if (item.type === 'lesson') {
                    return this.routeTo(
                      this.guest
                        ? this.routes.studentLesson
                        : this.routes.studentTakeLesson,
                    )
                }
                if (item.type === 'quiz') {
                    return this.routeTo(this.routes.studentTakeQuiz)
                }
            },
            icon (item) {
                if (item.done) {
                    return 'check_circle'
                }
                if (item.type === 'quiz') {
                    return 'hourglass_empty'
                }
                if (item.locked) {
                    return 'lock'
                }
                return 'play_circle_outline'
            },
            iconHolderVariant (item) {
                if (item.done) {
                    return 'dark'
                }
                if (item.active) {
                    return 'primary'
                }
                return 'light'
            },
        },
    }
</script>