<template>
    <component :is="component"></component>
</template>

<script>
    import student from './-student'
    import teacher from './-teacher'
    import Page from '../../components/Page'

    export default {
        name: 'index',
        middleware: 'roles',
        extends: Page,
        meta: {
          roles: ['student', 'teacher', 'parent']
        },
        components: {
            'student': () => import('./-student'),
            'teacher': () => import('./-teacher'),
            'parent': () => import('./-parent'),
        },
        computed: {
            component() {
                return this.$auth.user.role;
            }
        }
    }
</script>

<style scoped>

</style>