<template>
    <div :class="navbarContentContainerClass">
        <!-- Brand -->
        <b-navbar-brand
            :to="routeTo(routes.home)"
            :class="navbarBrandClass">
            <fmv-avatar
                :title="true"
                title-class="bg-primary"
                size="sm"
                no-link
                class="navbar-brand-icon mr-0 mr-lg-8pt">
                <component  class="img-fluid" :is="brandImage"  width="40"></component>
            </fmv-avatar>
            <span
                class="d-none d-lg-block"
                v-text="navbarBrand" />
        </b-navbar-brand>

<!--        <template v-if="! navbarFullSampleGuestMode && navbarStats && ! isInstructor">-->
<!--      <span-->
<!--          class="d-none d-md-flex align-items-center mr-16pt">-->
<!--        <fmv-avatar-->
<!--            :title="true"-->
<!--            title-class="navbar-avatar"-->
<!--            size="sm"-->
<!--            class="mr-12pt">-->
<!--          <md-icon>opacity</md-icon>-->
<!--        </fmv-avatar>-->
<!--        <small class="flex d-flex flex-column">-->
<!--          <strong class="navbar-text-100">Experience IQ</strong>-->
<!--          <span class="navbar-text-50">2,300 points</span>-->
<!--        </small>-->
<!--      </span>-->
<!--        </template>-->

<!--        <template v-if="! navbarFullSampleGuestMode && navbarStats && isInstructor">-->
<!--      <span class="d-none d-md-flex align-items-center mr-16pt">-->
<!--        <fmv-avatar-->
<!--            :title="true"-->
<!--            title-class="navbar-avatar"-->
<!--            size="sm"-->
<!--            class="mr-12pt">-->
<!--          <md-icon>trending_up</md-icon>-->
<!--        </fmv-avatar>-->
<!--        <small class="flex d-flex flex-column">-->
<!--          <strong-->
<!--              class="navbar-text-100"-->
<!--              v-text="$t('Earnings')" />-->
<!--          <span class="navbar-text-50">&dollar;12.3k</span>-->
<!--        </small>-->
<!--      </span>-->
<!--            <span class="d-none d-md-flex align-items-center mr-16pt">-->
<!--        <fmv-avatar-->
<!--            :title="true"-->
<!--            title-class="navbar-avatar"-->
<!--            size="sm"-->
<!--            class="mr-12pt">-->
<!--          <md-icon>receipt</md-icon>-->
<!--        </fmv-avatar>-->
<!--        <small class="flex d-flex flex-column">-->
<!--          <strong-->
<!--              class="navbar-text-100"-->
<!--              v-text="$t('Sales')" />-->
<!--          <span class="navbar-text-50">264</span>-->
<!--        </small>-->
<!--      </span>-->
<!--        </template>-->

        <b-navbar-nav
            class="d-none d-sm-flex flex justify-content-start ml-8pt">
            <b-nav-item
                v-for="navigationItem in navigationItems"
                :active="isActiveRoute(navigationItem.route)"
                :to="navigationItem.route" exact>
                {{ $t(navigationItem.title) }}
            </b-nav-item>

        </b-navbar-nav>

<!--        <template v-if="navbarFullSampleGuestMode">-->
<!--            <b-navbar-nav-->
<!--                class="d-none d-sm-flex flex justify-content-start ml-8pt">-->
<!--                <b-nav-item-->
<!--                    :to="routeTo(routes.home)"-->
<!--                    exact>-->
<!--                    {{ $t('Learning') }}-->
<!--                </b-nav-item>-->
<!--                <b-nav-item-->
<!--                    :to="routeTo(routes.home)"-->
<!--                    exact>-->
<!--                    {{ $t('Diagnostic') }}-->
<!--                </b-nav-item>-->
<!--                <b-nav-item-->
<!--                    :to="routeTo(routes.home)"-->
<!--                    exact>-->
<!--                    {{ $t('Analytics') }}-->
<!--                </b-nav-item>-->
<!--            </b-navbar-nav>-->
<!--        </template>-->
        <button :class="{active: isActiveRoute(routes.adminDashboard)}"
                type="submit"
                class="btn btn-outline-danger mr-16pt ml-16pt"
                v-if="routes.adminDashboard"
                @click="$router.push(routes.adminDashboard)">
            Management
        </button>

        <!-- Search -->
        <b-form
            class="search-form navbar-search d-none mr-16pt"
            :class="{
          'd-lg-flex': navbarFullSampleGuestMode,
          'd-md-flex': !navbarFullSampleGuestMode
        }">
            <b-button variant="none">
                <md-icon>search</md-icon>
            </b-button>
            <b-form-input
                :placeholder="$t('Search')"
                type="text" />
        </b-form>
        <!-- // END Search -->

        <!-- Menu -->
        <b-navbar-nav class="flex-nowrap d-flex ml-auto">

            <template
                v-if="!$auth.loggedIn">
                <b-nav-item
                    v-b-tooltip.hover.bottom="{ title: $t('Login') }"
                    :to="routeTo(routes.login)">
                    <md-icon>lock_open</md-icon>
                </b-nav-item>
                <li
                    class="nav-item">
                    <b-btn
                        :to="routeTo(routes.signup)"
                        :variant="ctaClass"
                        v-text="$t('Sign Up')" />
                </li>
            </template>

            <template
                v-else>

                <!-- Messages -->
                <navbar-notifications
                    icon="mail_outline"
                    icon-class="icon-24pt"
                    title="Messages"
                    :notifications="messages"
                    :route-messages="routes.messages" />

                <!-- Notifications -->
                <navbar-notifications
                    :badge="true"
                    :notifications="notifications"
                    :route-messages="routes.messages" />

                <!-- Localization -->
                <i18n-dropdown v-if="false" navbar />

                <!-- User Dropdown -->
                <b-nav-item-dropdown
                    v-b-tooltip.hover.bottom="{ title: $t('Account') }"
                    right>
                    <template slot="button-content">
                        <fmv-avatar
                            :title="true"
                            title-class="bg-primary"
                            size="sm"
                            circle
                            no-link>
                            <md-icon>account_box</md-icon>
                        </fmv-avatar>
                    </template>
                    <b-dropdown-header
                        tag="div"
                        class="form-label">
                        {{ $t('Manage') }}
                    </b-dropdown-header>
                    <b-dropdown-divider />
                    <b-dropdown-item v-if="routes.profile" :to="routeTo(routes.profile)">
                        <md-icon>person</md-icon> {{ $t('Public Profile') }}
                    </b-dropdown-item>
                  <b-dropdown-item v-if="routes.billing" :to="routeTo(routes.billing)">
                    <md-icon>money</md-icon> {{ $t('Billing') }}
                  </b-dropdown-item>
                    <b-dropdown-item @click="logout">
                        <md-icon>lock</md-icon> {{ $t('Logout') }}
                    </b-dropdown-item>
                </b-nav-item-dropdown>
                <!-- // END User dropdown -->

            </template>

        </b-navbar-nav>
        <!-- // END Menu -->

    </div>
</template>

<i18n>
    {
    "en": {
    "notifications": {
    "profile_sync_error": "Your profile information has not been synced correctly.",
    "user_wants_to_join": "<strong>{user}</strong> wants to join you.",
    "deploy_success": "Your deploy was successful."
    }
    },
    "ro": {
    "Earnings": "Încasări",
    "Sales": "Vânzări",
    "notifications": {
    "profile_sync_error": "Informațiile tale de profil nu au fost sincronizate corect.",
    "user_wants_to_join": "<strong>{user}</strong> vrea să ți se alăture.",
    "deploy_success": "Implementarea ta a avut succes."
    },
    "System notifications": "Notificări",
    "Messages": "Mesaje"
    }
    }
</i18n>

<script>
    import {
      NavbarNotifications,
      MdIcon,
      i18nDropdown
    } from 'vue-luma'

    import {FmvAvatar} from 'fmv-avatar'

    import teacherBrandImage from '~/static/images/illustration/teacher/128/white.svg'
    import studentBrandImage from '~/static/images/illustration/student/128/white.svg'

    import routeTo from '~/mixins/route-to'

    export default {
        name: 'NavbarContent',
        components: {
            NavbarNotifications,
            MdIcon,
            i18nDropdown,
            FmvAvatar
        },
        mixins: [routeTo],
        props: {
            navbarType: {
                type: String,
                default: () => 'light'
            },
            navbarContentContainerClass: {
                type: [String, Array, Object],
                default: () => 'd-flex w-100 align-items-center'
            },
            navbarFullSampleGuestMode: {
                type: Boolean
            },
            navbarBrand: {
                type: String,
                default: () => 'Brand'
            },
            brandImage: {
                type: Object,
                default() {
                    return this.isInstructor ? teacherBrandImage : studentBrandImage
                }
            },
            navbarBrandClass: {
                type: [String, Object, Array],
                default: () => null
            },
            navbarSearch: {
                type: Boolean,
                default: () => true
            },
            navbarStats: {
                type: Boolean,
                default: () => true
            }
        },
        data() {
            return {
                isInstructor: null,
                notifications: [
                    {
                        id: 1,
                        created_at: this.$t('diff_for_humans', {
                            when: this.$tc('datetime_units.min', 3, { value: 3 })
                        }),
                        iconClass: 'text-danger',
                        icon: 'account_circle',
                        message: this.$t('notifications.profile_sync_error'),
                        unread: true
                    },
                    {
                        id: 2,
                        created_at: this.$t('diff_for_humans', {
                            when: this.$tc('datetime_units.hr', 5, { value: 5 })
                        }),
                        iconClass: 'text-success',
                        icon: 'group_add',
                        message: this.$t('notifications.user_wants_to_join', {
                            user: 'Adrian. D'
                        }),
                        unread: true
                    },
                    {
                        id: 3,
                        created_at: this.$t('diff_for_humans', {
                            when: this.$tc('datetime_units.day', 1, { value: 1 })
                        }),
                        iconClass: 'text-warning',
                        icon: 'storage',
                        message: this.$t('notifications.deploy_success')
                    }
                ],
                messages: [
                    {
                        id: 1,
                        created_at: this.$t('diff_for_humans', {
                            when: this.$tc('datetime_units.min', 3, { value: 3 })
                        }),
                        iconClass: 'text-danger',
                        avatar: '/images/people/110/woman-5.jpg',
                        name: 'Michelle',
                        message: 'Clients loved the new design.',
                        unread: true
                    },
                    {
                        id: 2,
                        created_at: this.$t('diff_for_humans', {
                            when: this.$tc('datetime_units.hr', 5, { value: 5 })
                        }),
                        iconClass: 'text-success',
                        avatar: '/images/people/110/woman-5.jpg',
                        name: 'Michelle',
                        message: '🔥 Superb job..'
                    }
                ]
            }
        },
        computed: {
            isNavbarDark() {
                let some = [
                    this.navbarType.indexOf('dark') !== -1,
                    this.navbarType.indexOf('black') !== -1,
                ]
                return some.some(some => !!some)
            },
            ctaClass() {
                return this.isNavbarDark ? 'outline-white' : 'outline-dark'
            },
            navigationItems() {
                return _.filter([
                    {
                        route: this.routes.home,
                        title: 'Home'
                    },
                    {
                        route: this.routes.learning,
                        title: 'Learning'
                    },
                    {
                        route: this.routes.diagnostic,
                        title: 'Diagnostic'
                    },
                    {
                        route: this.routes.analytics,
                        title: 'Analytics'
                    },
                ], (item) => !!item.route);
            }
        },
        methods: {
            setIsInstructor() {
                let path = ''
                try {
                    path = window ? window.location.pathname : this.$route.path
                }
                catch (e) {}
                this.isInstructor = path.indexOf('instructor') !== -1
            },
            logout() {
                this.$router.push('/')
                this.$auth.logout()
            },
            isActiveRoute(rootRoute) {
                return this.$nuxt.$route.matched[0] ? !!rootRoute.path.match(this.$nuxt.$route.matched[0].regex) : false
            }
        },
        watch: {
            '$route.path': {
                immediate: true,
                handler: 'setIsInstructor'
            }
        },
        beforeMount() {
            document.addEventListener('inertia:success', () => this.setIsInstructor())
        },
        destroyed() {
            document.removeEventListener('inertia:success', () => this.setIsInstructor())
        },
    }
</script>
