<template>
    <b-navbar
        type="light"
        toggleable="sm"
        class="navbar-list navbar--subnavbar"
        style="white-space: nowrap;">
        <div :class="containerClass">
            <nav class="nav navbar-nav navbar-nav__child">
                <div class="nav-item navbar-list__item" v-for="(item, index) in items" @click="() => {active = false; $router.push(item.route)}" :class="active === index || isActiveRoute(item) ? 'active' : false">
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="mr-16pt">
                            <b-link
                                :to="item.route">
                                <img
                                    :src="item.imgSrc"
                                    width="40"
                                    class="rounded">
                            </b-link>
                        </div>
                        <div class="flex">
                            <b-link
                                class="card-title text-body mb-0"
                                v-text="`${item.title}`" />
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </b-navbar>
</template>

<script>
    import layoutConfigMixin from '~/mixins/layout-config'
    import routeTo from '~/mixins/route-to'
    import MdIcon from '~/components/Ui/MdIcon.vue'

    export default {
        components: {
            MdIcon
        },
        props: {
            items: {
                default() {
                    return []
                }
            }
        },
        mixins: [
            layoutConfigMixin,
            routeTo
        ],
        data() {
            return {
                active: false
            }
        },
        computed: {

        },
        methods: {
            isActiveRoute(item) {
                return this.$nuxt.$route.matched[1] ? item.route.path.match(this.$nuxt.$route.matched[1].regex) : false
            }
        },
        mounted () {
        }
    }
</script>

<style lang="scss" scoped>
    .navbar--subnavbar {
        margin-top: -16px;
        .navbar-nav__child {
            width: 100%;
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            display: grid;
            border-left: 1px solid #e4e4e4;
        }
        .navbar-list__item {
            padding: 10px 20px;
            border-right: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            margin: 0 !important;
            cursor: pointer;
            background: #f5f7fa;

            &:hover, &.active {
                box-shadow: 0 0 10px #00000038;
                transition: all 0.1s ease-in-out;
            }

            &:hover:not(.active) {
                transform: scale(1.02);
                z-index: 1;
            }

            &.active {
                border-bottom: 4px solid #5567ff !important;
                position: relative;
            }
        }
    }
</style>