<template>
    <div>
        Edit Skill Page
    </div>
</template>

<script>
    export default {
        name: 'SkillEdit',
        data() {
            return {
                localSkill: null,
            }
        },
        computed: {
            shortcut() {
                return this.$nuxt.$route.params.shortcut || null;
            },
            skills() {
                return this.$store.getters['skills/listItems']
            },
            skill() {
                return this.$store.getters['skills/showItem']
            },
            skillLoading() {
                return this.$store.state.skills.showLoading;
            }
        },
        methods: {
            async fetchSkill() {
                let skill = _.find(this.skills, {shortcut: this.shortcut });

                if (!skill) {
                    await new this.$models.Skill().find(this.shortcut);
                    skill = this.skill;
                } else {
                    this.$store.commit('skills/SET_SHOW', skill);
                }

                this.localSkill = skill;
            }
        },
        fetch() {
            this.fetchSkill();
        }
    }
</script>

<style scoped>

</style>