<template>
    <div class="create-skill__admin-page" v-if="skill">
        <page-separator
            :title="$t('Basic information')"/>

        <b-form-group
            :label="$t('Skill title')"
            class="mb-32pt"
            label-class="form-label">
            <b-form-input
                v-model="skill.title"
                size="lg"/>
        </b-form-group>

        <b-form-group
            :label="$t('Subject')"
            class="mb-32pt"
            label-class="form-label">
            <template v-slot:description>
                <span v-if="!selected.subject" class="text-danger">Please choose a subject before continue..</span>
            </template>
            <b-dropdown
                :text="!selected.subject ? `Choose subject` : '' + selected.subject && selected.subject.name | subjectCapitalize"
                :class="{danger: !selected.subject, selected: !!selected.subject ,'not-selected': !selected.subject}"
                class="text-danger"
                variant="link text-black-70">
                <b-dropdown-item :active="_isEqual(selected.subject, model)" @click="selected.subject = model" v-for="model in subjectsModels">
                    {{ model.name | subjectCapitalize }}
                </b-dropdown-item>
            </b-dropdown>
        </b-form-group>

        <b-form-group
            :label="$t('Grade')"
            class="mb-32pt"
            label-class="form-label">
            <template v-slot:description>
                <span v-if="!selected.grade" class="text-danger">Please choose a grade before continue..</span>
            </template>
            <b-dropdown
                :text="!selected.grade ? `Choose grade` : '' + selected.grade && selected.grade.name"
                :class="{danger: !selected.grade, selected: !!selected.grade ,'not-selected': !selected.grade}"
                class="text-danger"
                :disabled="!selected.subject"
                variant="link text-black-70" no-flip>
                <b-dropdown-item v-if="gradesLoading">
                    <ColorsCirclesStrokeLoader></ColorsCirclesStrokeLoader>
                </b-dropdown-item>
                <b-dropdown-item v-else :active="_isEqual(selected.grade, model)" @click="selected.grade = model" v-for="model in grades">
                    {{ model.name }}
                </b-dropdown-item>
            </b-dropdown>
        </b-form-group>

        <b-form-group
            :label="$t('Topic')"
            class="mb-32pt"
            label-class="form-label">
            <template v-slot:description>
                <span>Type something to choose from the <strong :class="{'text-primary': false}">available topics list</strong></span>
            </template>
            <autocomplete-input v-model="selected.topic" @search="fetchTopics" :items="topics" :loading="topicsLoading" :disabled="!selected.subject">
                <template v-slot:empty-items>
                    <div class="page-separator__text"
                         style="background: transparent">Not found topics
                    </div>
                </template>
            </autocomplete-input>
        </b-form-group>

        <b-form-group
            :label="$t('Category')"
            class="category mb-32pt"
            label-class="form-label">
            <template v-slot:description>
                <span>Type something to choose from the <strong :class="{'text-primary': availableCategoryTitle}">available list</strong> or enter a <strong :class="{'text-primary': newCategoryTitle}">new category</strong></span>
            </template>
            <autocomplete-input v-model="selected.category" @search="fetchCategories" :items="_categories" :loading="categoriesLoading"
                                :disabled="!selected.topic"
                                :create="true">
                <template v-slot:create-item>
                    <span class="text-primary">
                       Choose a new category
                    </span>
                </template>
                <template v-slot:empty-items>
                    <div class="page-separator__text"
                         style="background: transparent">Not found categories
                    </div>
                </template>
            </autocomplete-input>
        </b-form-group>

<!--        <b-form-file-->
<!--            v-model="image"-->
<!--            :state="Boolean(image)"-->
<!--            placeholder="Choose a file or drop it here..."-->
<!--            drop-placeholder="Drop file here..."-->
<!--        ></b-form-file>-->

<!--        <b-btn-->
<!--            @click="submit"-->
<!--            variant="outline-secondary"-->
<!--            class=""-->
<!--            v-text="$t('submit')" />-->

        <page-separator
            :title="$t('Questions')"/>
        <b-form-group class="category mb-32pt"
                       label-class="form-label">
            <div class="d-flex mb-24pt">
                <b-btn
                    v-if="skill.questions.length < 5"
                    @click="addQuestion"
                    variant="outline-secondary"
                    v-text="$t('Add Question')" />
                <div class="p-8pt">
                    <small class="text-muted">Create 1 to 5 (max) questions</small>
                </div>
            </div>
            <div class="position-relative">
                <transition-group name="custom" enter-active-class="animate__animated animate__fadeInLeft" leave-active-class="animate__animated animate__fadeOutLeft custom-move position-absolute w-100" >
                    <skill-question-accordion :can-delete="skill.questions.length > 1"
                                              @open="visible = n"
                                              :visibled="visible === n"
                                              class="item"
                                              @delete="deleteQuestion(n)"
                                              :ref="`container_${n}`"
                                              :title="'Question ' + question.id"
                                              v-for="(question, n) in skill.questions" :key="question.id">
                        <div id="app" class="p-20pt" :ref="`editor_${n}`">
                            <page-separator
                                :title="$t('Editor of questions')"/>
                            <froala :tag="'textarea'" :config="configGenerate(n)" v-model="question.model" :onManualControllerReady="initialize"></froala>
                        </div>
                    </skill-question-accordion>
                </transition-group>
            </div>
        </b-form-group>

    </div>
</template>

<script>
    import PageSeparator from '~/components/Ui/PageSeparator.vue'
    import AutocompleteInput from '~/components/Ui/AutocompleteInput.vue'
    import SkillQuestionAccordion
        from '../../../components/Admin/Skills/SkillQuestionAccordion'
    import animate from '../../../utils/animate'

    function wrapAll(nodes, wrapper) {
        // Cache the current parent and previous sibling of the first node.
        var parent = nodes[0].parentNode;
        var nextSibling = nodes[0].nextSibling;

        // Place each node in wrapper.
        //  - If nodes is an array, we must increment the index we grab from
        //    after each loop.
        //  - If nodes is a NodeList, each node is automatically removed from
        //    the NodeList when it is removed from its parent with appendChild.
        for (var i = 0; nodes.length - i; wrapper.firstChild === nodes[0] && i++) {
            wrapper.appendChild(nodes[i]);
        }

        // Place the wrapper just after the cached previousSibling
        parent.insertBefore(wrapper, nextSibling.previousSibling);

        return wrapper;
    }

    export default {
        name: 'SkillCreate',
        components: {
            PageSeparator,
            AutocompleteInput,
            SkillQuestionAccordion
        },
        data () {
            return {
                visible: 0,
                skill: null,
                show: false,
                categories: [],
                categoriesLoading: false,
                topicsLoading: false,
                gradesLoading: false,
                topics: [],
                grades: [],
                image: null,
                selected: {
                    subject: null,
                    grade: null,
                    topic: null,
                    category: null
                },
                initControls: null,
                deleteAll: null,
            }
        },
        watch: {
            'selected.subject': {
                handler() {
                    this.fetchGrades()
                    this.selected.topic = null;
                    this.fetchTopics('');
                },
            },
            'selected.grade': {
                handler(val) {
                    if (val) {
                        this.skill.grade_code = val.code
                    } else {
                        this.skill.grade_code = null
                    }
                },
            },
            'selected.category' (val) {
                if (val) {
                    this.skill.category_title = val.name
                }
                else {
                    this.skill.category_title = null
                }
            },
            'selected.topic': {
                handler(val) {
                    if (val) {
                        this.skill.topic_slug = val.slug
                    } else {
                        this.skill.topic_slug = null;
                    }
                    this.selected.category = null;
                    this.fetchCategories('');
                },
            },
        },
        computed: {
            _categories() {
                let items = this.categories;

                return items.map((item) => {
                    return {
                        name: item.category_title
                    }
                });
            },
            topicInList() {
                return this.skill && _.find(this.topics, {slug: this.skill.topic_slug});
            },
            categoryTitle: {
                get() {
                    return this.skill ? this.skill.category_title : null;
                },
                set: _.debounce(async function (val) {
                    if (val !== this.skill.category_title) {
                        this.skill.category_title = val;
                        this.open()
                        this.fetchCategories()
                    }
                }, 300)
            },
            availableCategoryTitle() {
                return !this.categoriesLoading && _.find(this.categories, {category_title: this.skill.category_title})
            },
            newCategoryTitle() {
                return !this.categoriesLoading && !!(this.skill.category_title && this.skill.category_title.length && !this.availableCategoryTitle)
            },
            subjectsModels () {
                return this.$store.getters['subjects/databaseItems'].map(
                  (item) => new this.$models.Subject(item))
            },
        },
        methods: {
            configGenerate(n) {
                return {
                    events: {
                        'initialized': () => {
                            this.$nextTick(() => {
                                const el = this.$refs['editor_' + n];

                                if (el && el[0] && el[0].querySelector('.fr-wrapper')) {
                                    var div = document.createElement('div');
                                    div.style.opacity = 0;
                                    div.style.height = 0;
                                    wrapAll([el[0].querySelector('.fr-wrapper').firstChild], div)
                                }
                            })
                        }
                    },

                    // toolbarButtons: [],
                };
            },
            change() {
                // console.log(this.config.toolbarButtons);
                // this.config.toolbarButtons = [];
                // this.initControls.getEditor().button.refresh();

                this.initControls.destroy();
                this.config.toolbarButtons = [];
                this.initControls.initialize();
            },
            initialize: function(initControls) {
                this.initControls = initControls;
                this.deleteAll = () => {
                    this.initControls.getEditor().html.set('');
                    this.initControls.getEditor().undo.reset();
                    this.initControls.getEditor().undo.saveStep();
                };

                this.initControls.initialize();
            },
            async fetchCategories(search) {
                if (this.selected.topic) {
                    this.categories = [];
                    this.categoriesLoading = true
                    const Category = new this.$models.Category().limit(30)

                    Category.byTopic(this.selected.topic)
                    Category.where('search', search)
                    await Category.throttle('categories').get().then(({ data }) => {
                        this.categories = data
                    }).catch(() => {})
                    this.categoriesLoading = false
                }
            },
            async fetchGrades() {
                this.grades = [];
                this.selected.grade = null;
                this.gradesLoading = true
                const Grade = new this.$models.Grade()

                Grade.bySubject(this.selected.subject)
                await Grade.throttle('grades').get().then(({ data }) => {
                    this.grades = data
                }).catch(() => {})
                this.gradesLoading = false
            },
            async fetchTopics(search) {
                if (this.selected.subject) {
                    this.topics = [];
                    this.topicsLoading = true
                    const Topic = new this.$models.Topic().limit(30)

                    Topic.bySubject(this.selected.subject)
                    Topic.where('search', search)
                    await Topic.throttle('topics').get().then(({ data }) => {
                        this.topics = data
                    }).catch(() => {})
                    this.topicsLoading = false
                }
            },
            addQuestion() {
                this.skill.questions.push({
                    model: null,
                    id: _.uniqueId()
                })
               setTimeout(() => {
                   // const lastVisible = this.visible
                    this.visible = this.skill.questions.length - 1
                    this.visible = null
                }, 100)
                // this.$nextTick(() => {
                //     animate(this.$refs[`container_${this.skill.questions.length}`][0].$el, 'fadeInLeft')
                // })
            },
            deleteQuestion(n) {
                // animate(this.$refs[`container_${n}`][0].$el, 'fadeOutLeft')
                this.visible = null;
                if (this.visible === n) {


                    this.skill.questions.splice(n, 1);
                } else {
                    this.skill.questions.splice(n, 1);
                }
            },
            submit() {
                const skill = new this.$models.Skill({
                    'image':  this.image
                })

                skill.save();
            }
        },
        mounted () {
            this.skill = new this.$models.Skill({
                title: null,
                category_title: null,
                grade_code: null,
                topic_slug: null,
                questions: []
            })

            this.addQuestion();
        },
    }
</script>

<style lang="scss">
    .create-skill__admin-page {
        .category {
            small.form-text {
                margin-top: -10px;
            }
        }

        .b-dropdown.selected {
            .dropdown-toggle {
                border-bottom: 2px solid #5567ff;
            }
        }

        .b-dropdown.danger {
            .dropdown-toggle {
                color: var(--danger) !important;
            }
        }

        .b-dropdown {
            .dropdown-toggle {
                text-decoration: none;
            }
        }

        .autocomplete__drop-down {
            width: 100%;

            .dropdown-toggle {
                display: none !important;
            }

            .autocomplete_menu {
                top: -10px;
                left: 0;
            }
        }

        .item {
            transition-property: all !important;
        }

        .custom-move {
            transition: all 1s ease;
            /*display: inline-block;*/
            /*margin-right: 10px;*/
            /*width: 100%;*/
        }
        .list-complete-enter, .list-complete-leave-to
            /* .list-complete-leave-active до версии 2.1.8 */ {
            opacity: 0;
            transform: translateY(30px);
        }
        .list-complete-leave-active {
            position: absolute;
        }
    }
</style>