<template>
    <div>
        <page-separator
            :title="$t('Progress')" />
        <b-card body-class="pt-0 pl-0" header-class="d-flex align-items-center border-0" style="padding: 0">
            <template slot="header">
                <div class="h2 mb-0 mr-3">3491</div>
                <div class="flex">
                    <p class="card-title">WE'VE ANSWERED QUESTIONS</p>
                    <p class="card-subtitle text-50">In this year</p>
                </div>
                <md-icon class="text-muted ml-2">trending_up</md-icon>
            </template>

            <div class="d-flex" style="padding: 0">
                <div style="width: 50%">
                    <p class="card-title text-center mb-3">Skill progress</p>
                    <pyramid-svg width="100%"></pyramid-svg>
                </div>
                <div style="width: 50%">
                    <p class="card-title text-center mb-3">Time spent</p>
                    <div id="chartdiv1" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </b-card>
        <page-separator
            :title="$t('Activity')" />
        <b-card body-class="pt-0 pl-0 pb-0" header-class="d-flex align-items-center border-0 pb-0" style="padding: 0">
            <template slot="header">
                <div class="flex">
                    <p class="card-title">STUDENTS LEARNING ACTIVITY</p>
                    <p class="card-subtitle text-50">In this week</p>
                </div>
                <md-icon class="text-muted ml-2">trending_up</md-icon>
            </template>
            <div id="chartdiv2" style="width: 100%; height: 400px;"></div>
        </b-card>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import {
        Card
    } from 'vue-luma'
    import PyramidSvg from '~/assets/svg/analytics/pyramid.svg'

    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    // import am4themes_animated from "@amcharts/amcharts4/themes/animated";

    am4core.addLicense("ch-custom-attribution");
    // am4core.useTheme(am4themes_animated);
    am4core.options.autoDispose = true;


    export default {
        name: 'Dashboard',
        extends: Page,
        middleware: ['roles'],
        meta: {
            roles: ['parent', 'teacher']
        },
        components: {
            Card,
            PyramidSvg
        },
        computed: {
            skillProgressImage() {
                return '/images/analytics/pyramid.png'
            }
        },
        methods: {
            createTimeSpentGraph() {
                // am4core.useTheme(am4themes_animated);
                // Themes end
                let chart = am4core.create("chartdiv1", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                chart.data = [
                    {
                        country: "Math",
                        value: 5431
                    },
                    {
                        country: "Language Arts",
                        value: 3041
                    },
                    {
                        country: "Science",
                        value: 4741
                    },
                ];
                chart.radius = am4core.percent(70);
                chart.innerRadius = am4core.percent(40);
                chart.startAngle = 180;
                chart.endAngle = 360;

                let series = chart.series.push(new am4charts.PieSeries());

                series.dataFields.value = "value";
                series.dataFields.category = "country";

                series.slices.template.cornerRadius = 10;
                series.slices.template.innerCornerRadius = 7;
                series.slices.template.draggable = true;
                series.slices.template.inert = true;
                series.alignLabels = false;

                series.hiddenState.properties.startAngle = 90;
                series.hiddenState.properties.endAngle = 90;

                var label = chart.seriesContainer.createChild(am4core.Label);
                label.isMeasured = false;
                label.x = 0;
                label.y = -30;
                label.align = 'middle';
                label.horizontalCenter = "middle";
                label.verticalCenter = "middle";
                label.fontFamily = "\"Exo 2\", \"Helvetica Neue\", Arial, sans-serif"
                label.adapter.add("text", function(text, target){
                    return "[bold font-size:30px fill: #303956 ]" + chart.data.reduce((a, b) => a + b.value, 0) + " hr[/]";
                })
            },
            createStudentsActivityGraph() {
// Create chart instance
                let chart = am4core.create("chartdiv2", am4charts.XYChart);
                chart.scrollbarX = new am4core.Scrollbar();

// Add data
                chart.data = [{
                    "country": "John Stone",
                    "visits": 3025
                }, {
                    "country": "Verona Blair",
                    "visits": 1882
                }, {
                    "country": "Salome Simoes",
                    "visits": 1809
                }, {
                    "country": "Mia Wong",
                    "visits": 1322
                },  {
                    "country": "Ponnappa Priya",
                    "visits": 1114
                },
                    {
                        "country": "Tamzyn French",
                        "visits": 984
                    },
                    {
                        "country": "Nguta Ithya",
                        "visits": 711
                    },
                    {
                        "country": "Ang Li",
                        "visits": 665
                    },
                ];

// Create axes
                let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "country";
                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.minGridDistance = 10;
                categoryAxis.renderer.maxWidth = 10;
                categoryAxis.renderer.labels.template.horizontalCenter = "right";
                categoryAxis.renderer.labels.template.verticalCenter = "middle";
                categoryAxis.renderer.labels.template.rotation = 270;
                categoryAxis.tooltip.disabled = true;
                categoryAxis.renderer.minHeight = 0;


                var valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis2.title.text = "Questions answered";
                valueAxis2.title.fontWeight = 800;

                let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.renderer.minWidth = 10;

// Create series
                let series = chart.series.push(new am4charts.ColumnSeries());
                series.sequencedInterpolation = true;
                series.dataFields.valueY = "visits";
                series.dataFields.categoryX = "country";
                series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
                series.columns.template.strokeWidth = 0;
                series.columns.template.width = am4core.percent(20);

                series.tooltip.pointerOrientation = "vertical";

                series.columns.template.column.cornerRadiusTopLeft = 10;
                series.columns.template.column.cornerRadiusTopRight = 10;
                series.columns.template.column.fillOpacity = 0.8;

// on hover, make corner radiuses bigger
                let hoverState = series.columns.template.column.states.create("hover");
                hoverState.properties.cornerRadiusTopLeft = 0;
                hoverState.properties.cornerRadiusTopRight = 0;
                hoverState.properties.fillOpacity = 1;

                series.columns.template.adapter.add("fill", function(fill, target) {
                    return chart.colors.getIndex(target.dataItem.index);
                });

// Cursor
                chart.cursor = new am4charts.XYCursor();


            }
        },
        mounted () {
            setTimeout(() => {
                this.createTimeSpentGraph();
                this.createStudentsActivityGraph();
            }, 500)
        }
    }
</script>

<style scoped>

</style>