<template>
    <div class="analytics-diagnostic__page">
        <page-separator
            :title="$t('Diagnostic')" />
        <b-card no-body class="radius-none">
            <b-tabs v-model="subjectTabIndex"
                    nav-class="nav-tabs-card nav-tabs-card__first"
                    content-class="card-body">
                <b-tab style="flex: 1" v-for="n in 2">
                    <template #title style="border-top: 4px solid red">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="mr-16pt">
                                <b-link>
                                    <img
                                        :src="n === 1 ? '/images/achievements/math.png' : '/images/achievements/la.png'"
                                        width="40"
                                        class="rounded">
                                </b-link>
                            </div>
                            <div class="flex">
                                <b-link
                                    class="card-title text-body mb-0">
                                    {{ n === 1 ? 'Math' : 'Language arts' }}
                                </b-link>
                            </div>
                        </div>
                    </template>
                </b-tab>
            </b-tabs>
            <b-tabs nav-class="nav-tabs-card nav-tabs-card__second"
                    @activate-tab="(index) => categoriesTabIndex = index"

                    content-class="card-body">
                <b-tab v-for="(categoryTab, categoryIndex) in categoriesTabs" :key="categoryIndex">
                    <template #title>
                        <li class="sidebar-menu-item active" style="flex: 1;"><a href=""
                                                                class="sidebar-menu-button"><span
                            class="material-icons sidebar-menu-icon sidebar-menu-icon--left">{{ categoryTab.icon }}</span>
                            <span
                                class="sidebar-menu-text">{{ categoryTab.name }}</span></a>
                        </li>
                    </template>
                </b-tab>
            </b-tabs>
            <div class="tab__content p-3" ref="container">
                <div>
                    <p class="page-separator__text text-uppercase"
                       style="font-size: 18px;">{{ subjectTabIndex === 0 ? `Math` : 'Language arts' }} levels at
                        glance</p>
                    <div class="d-flex">
                        <p class="card-title align-self-center"
                           style="margin-top: -55px; width: 200px;"
                        >Overall {{ subjectTabIndex === 0 ? `math` : 'language arts' }} levels</p>
                        <div
                            style="flex-grow: 1; padding: 20px;">
                            <div id="chartdiv"
                                 style="border: 1px solid #ddd; border-bottom: 0; height: 50px"></div>
                            <div class="d-flex">
                                <span class="h2">0</span>
                                <span class="h2"
                                      style="margin-left: auto">1300</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="page-separator__text text-uppercase"
                       style="font-size: 18px;">Individual
                        students levels</p>
                    <div class="d-flex">
                        <div
                            style="width: 216px; margin-left: -16px;">
                            <ul class="list-group list-group-flush mb-3">
                                <messages-sidebar-member
                                    v-for="(student, index) in students"
                                    :key="index"
                                    :item="members[index]"/>
                            </ul>
                        </div>
                        <div
                            style="flex-grow: 1; padding: 20px; padding-top: 0; padding-bottom: 0;">
                            <div id="chartdiv2"
                                 style="height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </b-card>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import { MessagesSidebarMember } from 'vue-luma'

    import * as am4core from '@amcharts/amcharts4/core'
    import * as am4charts from '@amcharts/amcharts4/charts'
    // import am4themes_animated from "@amcharts/amcharts4/themes/animated";

    am4core.addLicense('ch-custom-attribution')
    // am4core.unuseTheme(am4themes_animated);
    // am4core.options.queue = true;
    am4core.options.autoDispose = true;

    const animateCSS = (element, animation, prefix = 'animate__') =>
      // We create a Promise and return it
      new Promise((resolve, reject) => {
          const animationName = `${prefix}${animation}`;
          const node = element;

          node.classList.add(`${prefix}animated`, animationName);

          // When the animation ends, we clean the classes and resolve the Promise
          function handleAnimationEnd(event) {
              event.stopPropagation();
              node.classList.remove(`${prefix}animated`, animationName);
              resolve('Animation ended');
          }

          node.addEventListener('animationend', handleAnimationEnd, {once: true});
      });

    let chartReference;
    let chartReference2;

    export default {
        name: 'Diagnostic',
        extends: Page,
        middleware: ['roles'],
        meta: {
            roles: ['parent', 'teacher', 'admin']
        },
        components: {
            MessagesSidebarMember,
        },
        data () {
            return {
                categoriesTabIndex: 0,
                subjectTabIndex: 0,
                loading: false,
                // chart: null,
                // chart2: null,
                students: []
            }
        },
        watch: {
            subjectTabIndex() {
                this.reloadGraphs(0);
            },
            categoriesTabIndex: {
                handler(val, oldVal) {
                    this.reloadGraphs(oldVal === undefined ? 300 : 0);
                },
                immediate: true
            }
        },
        methods: {
            reloadGraphs(renderTimeout = 100) {
                if (this.$refs.container) {
                    animateCSS(this.$refs.container, 'fadeIn')
                }

                if (chartReference) {
                    chartReference.dispose();
                    chartReference = null;
                }

                if (chartReference2) {
                    chartReference2.dispose()
                    chartReference2 = null;
                }

                this.students = this.generateData();

                setTimeout(() => {
                    this.createOverallGraph()
                    this.createIndividualLevelsGraph()
                }, renderTimeout)

                // if (oldVal !== undefined) {
                //     if (this.chartReference) {
                //         // this.chart.data = this.students;
                //
                //         this.chartReference.data.forEach((item, index) => {
                //             this.chartReference.data[index].steps = this.students[index].steps
                //         })
                //
                //         this.chartReference.invalidateRawData();
                //     }
                //
                //     if (this.chartReference2) {
                //         this.chartReference2.data.forEach((item, index) => {
                //             const end = this.students[index].steps
                //             const start = end - Math.round(Math.random() * 10) + 30
                //
                //             this.chartReference2.data[index].open = end;
                //             this.chartReference2.data[index].close = start;
                //         })
                //
                //         this.chartReference2.invalidateRawData();
                //     }
                // }
            },
            createOverallGraph () {
                if (chartReference) {
                    chartReference.dispose();
                }
                let chart = am4core.create('chartdiv', am4charts.XYChart);
                chartReference = chart;
                chart.svgContainer.autoResize = true;
                // this.chart = chart;
                // chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
                chart.background.fill = am4core.color('#f5f7fa')
                chart.borderRadius = 10
                chart.borderRadius = 10
                chart.background.opacity = 0.5
                chart.paddingTop = 0
                chart.paddingBottom = 0
                chart.paddingLeft = 0
                chart.paddingRight = 0
                chart.border = 1

                chart.data = this.students

                chart.zoomOutButton.disabled = true

                let xAxis = chart.xAxes.push(new am4charts.ValueAxis())
                xAxis.min = 0
                xAxis.max = 1300
                xAxis.renderer.labels.template.disabled = true
                xAxis.renderer.grid.template.strokeWidth = 0
// Set settings

                // dateAxis.tooltip.adapter.add("x", function (x, target) {
                //     return am4core.utils.spritePointToSvg({ x: chart.plotContainer.pixelX, y: 0 }, chart.plotContainer).x + chart.plotContainer.pixelWidth / 2;
                // })

                let valueAxis = chart.yAxes.push(new am4charts.ValueAxis())
                valueAxis.renderer.inside = true
                valueAxis.renderer.labels.template.fillOpacity = 1
                // valueAxis.renderer.grid.template.strokeOpacity = 0;
                valueAxis.renderer.grid.template.strokeWidth = 0
                valueAxis.min = 0
                valueAxis.max = 2000
                valueAxis.cursorTooltipEnabled = false
                valueAxis.renderer.labels.template.disabled = true

                let series = chart.series.push(new am4charts.ColumnSeries)
                series.dataFields.openValueY = 'visibleOpen'
                series.dataFields.valueY = 'visible'
                series.dataFields.valueX = 'steps'
                series.tooltipText = '{valueY.value}'
                series.columns.template.width = am4core.percent(20)
                series.tooltip.pointerOrientation = 'vertical'
                series.tooltip.hiddenState.properties.opacity = 1
                series.tooltip.hiddenState.properties.visible = true
                series.tooltip.adapter.add('x', function (x, target) {
                    return am4core.utils.spritePointToSvg(
                      { x: chart.plotContainer.pixelX, y: 0 },
                      chart.plotContainer).x + chart.plotContainer.pixelWidth /
                      2
                })

                var openBullet = series.bullets.create(am4charts.CircleBullet)
                openBullet.locationY = 1

                var closeBullet = series.bullets.create(am4charts.CircleBullet)

                closeBullet.fill = chart.colors.getIndex(4)
                closeBullet.stroke = closeBullet.fill

                let columnTemplate = series.columns.template
                columnTemplate.width = 2
                columnTemplate.column.cornerRadiusTopLeft = 20
                columnTemplate.column.cornerRadiusTopRight = 20
                columnTemplate.strokeOpacity = 1

                columnTemplate.adapter.add('fill', function (fill, target) {
                    return am4core.color('#a6d3e7')
                })
            },
            createIndividualLevelsGraph () {
                if (chartReference2) {
                    chartReference2.dispose();
                }
                let chart = am4core.create('chartdiv2', am4charts.XYChart)
                chartReference2 = chart
                chart.svgContainer.autoResize = true;
                // this.chart2 = chart;
                chart.background.fill = am4core.color('#fff')
                chart.borderRadius = 10
                chart.borderRadius = 10
                chart.background.opacity = 1
                chart.paddingTop = 0
                chart.paddingBottom = 0
                chart.paddingLeft = 0
                chart.paddingRight = 0
                chart.border = 0

                var data = []
                var open = 100
                var close = 120

                var names = this.students

                for (var i = 0; i < names.length; i++) {
                    const end = names[i].steps
                    const start = end - Math.round(Math.random() * 10) + 30
                    data.push({ category: i, open: end, close: start })
                }

                chart.data = data

                var categoryAxis = chart.yAxes.push(
                  new am4charts.CategoryAxis())
                categoryAxis.renderer.grid.template.stroke = am4core.color(
                  '#7fb8e0')
                categoryAxis.renderer.grid.template.strokeWidth = 5
                categoryAxis.renderer.ticks.template.disabled = true
                categoryAxis.renderer.axisFills.template.disabled = true
                categoryAxis.renderer.labels.template.disabled = true
                categoryAxis.dataFields.category = 'category'
                // categoryAxis.renderer.minGridDistance = 15;
                categoryAxis.renderer.inversed = true
                categoryAxis.renderer.inside = true
                categoryAxis.renderer.grid.template.location = 0.5

                var valueAxis = chart.xAxes.push(new am4charts.ValueAxis())
                valueAxis.tooltip.disabled = true
                valueAxis.renderer.ticks.template.disabled = true
                valueAxis.renderer.grid.template.strokeWidth = 0
                valueAxis.renderer.axisFills.template.disabled = true
                valueAxis.renderer.labels.template.disabled = true
                valueAxis.min = 0
                valueAxis.max = 1300

                var series = chart.series.push(new am4charts.ColumnSeries())
                series.dataFields.categoryY = 'category'
                series.dataFields.openValueX = 'open'
                series.dataFields.valueX = 'close'
                series.tooltipText = 'open: {openValueX.value} close: {valueX.value}'
                series.sequencedInterpolation = true
                series.fillOpacity = 1
                series.strokeOpacity = 1
                series.columns.template.height = 0.01
                series.tooltip.pointerOrientation = 'vertical'

                var openBullet = series.bullets.create(am4charts.CircleBullet)
                openBullet.locationX = 1

                var closeBullet = series.bullets.create(am4charts.CircleBullet)

                closeBullet.fill = chart.colors.getIndex(4)
                closeBullet.stroke = closeBullet.fill

                var labelBullet = series.bullets.push(
                  new am4charts.LabelBullet())
                labelBullet.label.text = '{close}'
                labelBullet.label.truncate = false
                labelBullet.label.hideOversized = false
                labelBullet.label.dx = 20

                var labelBullet2 = series.bullets.push(
                  new am4charts.LabelBullet())
                labelBullet2.label.text = '{open}'
                labelBullet2.label.truncate = false
                labelBullet2.label.hideOversized = false
                labelBullet2.locationX = 1
                labelBullet2.label.dx = -20
            },
            generateData() {
                function randomIntFromInterval(min, max) { // min and max included
                    return Math.floor(Math.random() * (max - min + 1) + min)
                }

                let data = [];

                for(let i = 0; i < 8; i++) {
                    data.push({
                        'visible': 1750,
                        'visibleOpen': 290,
                        'steps': randomIntFromInterval(350, 700),
                    })
                }

                return data;
            }
        },
        computed: {
            members () {
                return [
                    {
                        avatar: '/images/people/50/woman-5.jpg',
                        name: 'Michelle Smith',
                        active: true,
                        status: 'online',
                    }, {
                        avatar_title: 'AD',
                        name: 'Andrew Brain',
                        status: 'online',
                    }, {
                        avatar: '/images/people/50/guy-2.jpg',
                        name: 'Jimmy Carter',
                        status: 'online',
                    }, {
                        avatar: '/images/people/50/woman-2.jpg',
                        name: 'Samantha Doe',
                        status: 'online',
                    }, {
                        avatar_title: 'XD',
                        name: 'Xander Dale',
                        status: 'offline',
                    }, {
                        avatar: '/images/people/50/woman-1.jpg',
                        name: 'Beatriz Summers',
                        status: 'offline',
                    }, {
                        avatar: '/images/people/50/woman-3.jpg',
                        name: 'Cassie Wills',
                        status: 'offline',
                    }, {
                        avatar: '/images/people/50/guy-1.jpg',
                        name: 'Jarrod Forrest',
                        active: true,
                        status: 'offline',
                    }, {
                        avatar: '/images/people/50/guy-3.jpg',
                        name: 'Ziva Ochoa',
                        status: 'offline',
                    }]
            },
            categoriesTabs () {
                if (this.subjectTabIndex === 0) {
                    return [
                        {
                            name: 'Overview',
                            icon: '',
                        },
                        {
                            name: 'Numbers & Operations',
                            icon: '',
                        },
                        {
                            name: 'Algebra & Algebraic Thinking',
                            icon: '',
                        },
                        {
                            name: 'Fractions',
                            icon: '',
                        },
                        {
                            name: 'Geometry',
                            icon: '',
                        },
                        {
                            name: 'Measurement',
                            icon: '',
                        },
                        {
                            name: 'Data, Statistics & Probability',
                            icon: '',
                        },
                    ]
                }
                else {
                    return [
                        {
                            name: 'Overview',
                            icon: '',
                        },
                        {
                            name: 'Reading Strategies',
                            icon: '',
                        },
                        {
                            name: 'Vocabulary',
                            icon: '',
                        },
                        {
                            name: 'Writing Strategies',
                            icon: '',
                        },
                        {
                            name: 'Grammar & Mechanics',
                            icon: '',
                        },
                    ]
                }
            },
        },

        beforeDestroy() {

        },
        mounted () {

        },
    }
</script>

<style lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
    .analytics-diagnostic__page {


        .nav-tabs-card__first {
            border-bottom: 1px solid #ddd;
            display: flex;

            .nav-item {
                margin-bottom: -1px;
                flex: 1;

                &:last-child {
                    .nav-link {
                        /*border-right: 0;*/
                    }
                }

                .nav-link {
                    background-color: #F5F7FA;
                    opacity: .8;
                    border-right: 1px solid #ddd;
                    height: 100%;
                    border-bottom: 1px solid #ddd;
                    padding-right: 55px;

                    &.active {
                        border-top: 4px solid red;
                        background-color: #fff;
                        border-bottom: 0;
                        opacity: 1;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }

        }

        .tab-content.card-body {
            padding: 0;
        }

        .nav-tabs-card__second {
            display: flex;

            .nav-item {

                &:last-child {
                    .nav-link {
                        /*border-right: 0;*/
                    }
                }

                .nav-link{
                    /*.sidebar-menu-button {*/
                    /*    color: #a5a7ad;*/

                    /*    .sidebar-menu-text {*/
                    /*        text-decoration: underline;*/
                    /*        text-decoration-style: dotted;*/
                    /*    }*/

                    /*}*/

                    /*opacity: .8;*/
                    /*height: 100%;*/
                    /*border-bottom: 1px solid #ddd;*/
                    /*padding-right: 55px;*/

                    .sidebar-menu-button {
                        padding: 0;
                    }

                    &.active {
                        border-bottom: 2px solid red;
                        background: transparent;
                        /*color: blue;*/
                        /*background-color: #fff;*/
                        /*opacity: 1;*/

                        /*.sidebar-menu-button {*/
                        /*    color: rgba(6, 7, 8, 0.7);*/

                        /*    .sidebar-menu-text {*/
                        /*        text-decoration: none;*/
                        /*    }*/
                        /*}*/
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }

        }

        .list-group {
            margin: 0 !important;

            .list-group-item {
                display: flex;
                height: 64px;
                /*padding-left: 0 !important;*/
                border: 0;
                cursor: pointer;
                transition: all 0.1s ease-in-out;

                &:hover {
                    background-color: #ddd;
                }
            }
        }


    }
</style>