<template>
    <div class="analytics-scores__page">
        <page-separator
            :title="$t('A refined choice')"/>
        <b-card>
            <div class="d-flex header-filter__container">
                <b-form-group
                    :description="$t('Select a subject.')"
                    :label="$t('Subject')"
                    label-class="form-label">
                    <b-form-select
                        v-model="filter.subject"
                        value-field="name"
                        text-field="name"
                        :options="subjects"/>
                </b-form-group>

                <b-form-group
                    :description="$t('Select a grade.')"
                    :label="$t('Grade')"
                    label-class="form-label">
                    <b-form-select
                        v-model="filter.grade"
                        value-field="abbr"
                        text-field="abbr"
                        :options="grades"/>
                </b-form-group>

                <b-form-group
                    :description="$t('Select a student.')"
                    :label="$t('Student')"
                    label-class="form-label">
                    <b-form-select
                        v-model="filter.student"
                        value-field="name"
                        text-field="name"
                        :options="members"/>
                </b-form-group>
            </div>
        </b-card>
        <page-separator
            :title="$t('Scores grid')"/>
        <b-card no-body class="radius-none">
            <div class="scores-grid__container">
                <b-table-simple v-if="true" small caption-top responsive>

                    <b-thead head-variant="dark">

                        <b-tr>
                            <b-th style="width: 300px;"></b-th>

                            <b-th v-for="member in members" style="writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(180deg);
    white-space:nowrap;">{{ member.name }}
                            </b-th>

                        </b-tr>
                    </b-thead>
                </b-table-simple>
                <grid-accordion :value="topics" :items="members"></grid-accordion>
            </div>
        </b-card>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import kebabCase from 'lodash/kebabCase'
    import GridAccordion from '../../components/Analytics/Scores/GridAccordion'

    export default {
        name: 'Scores',
        extends: Page,
        middleware: ['roles'],
        meta: {
            roles: ['parent', 'teacher', 'student', 'admin']
        },
        components: {
            GridAccordion,
        },
        data () {
            return {
                filter: {
                    subject: null,
                    grade: null,
                    student: null,
                },
                hiddenFields: [
                    // {
                    //     key: 'Topics',
                    //     label: this.$t('Topics'),
                    //     sortable: true,
                    //     thStyle: {
                    //         display: 'none'
                    //     }
                    // },
                    // {
                    //     key: 'document',
                    //     label: this.$t('Document'),
                    //     sortable: true,
                    //     thStyle: {
                    //         display: 'none'
                    //     }
                    // },
                    // {
                    //     key: 'amount',
                    //     label: this.$t('Amount'),
                    //     sortable: true,
                    //     thStyle: {
                    //         display: 'none'
                    //     }
                    // },
                    // {
                    //     key: 'purchased_at',
                    //     label: this.$t('Date'),
                    //     sortable: true,
                    //     thStyle: {
                    //         display: 'none'
                    //     }
                    // }
                ],
                items: [
                    {
                        purchased_at: '12 Nov 2018',
                        course: 'Angular Routing In-Depth',
                        image: '/images/paths/angular_routing_200x168.png',
                        document: '#8734',
                        amount: 89,
                        fees: 120,
                        revenue: 8737,
                    },
                    {
                        purchased_at: '13 Nov 2018',
                        course: 'Angular Unit Testing',
                        image: '/images/paths/angular_testing_200x168.png',
                        document: '#8735',
                        amount: 89,
                        fees: null,
                        revenue: null,
                    },
                    {
                        purchased_at: '14 Nov 2018',
                        course: 'Introduction to TypeScript',
                        image: '/images/paths/typescript_200x168.png',
                        document: '#8736',
                        amount: 89,
                        fees: null,
                        revenue: null,
                    },
                    {
                        purchased_at: '15 Nov 2018',
                        course: 'Learn Angular Fundamentals',
                        image: '/images/paths/angular_200x168.png',
                        document: '#8737',
                        amount: 89,
                        fees: null,
                        revenue: null,
                    },
                ],
            }
        },
        computed: {
            subjects () {
                return this.$store.getters['subjects/subjects']
            },
            grades () {
                return this.$store.getters['subjects/' +
                kebabCase(this.filter.subject) + 'Grades'] || []
            },
            members () {
                return [
                    {
                        avatar: '/images/people/50/woman-5.jpg',
                        name: 'Michelle Smith',
                        active: true,
                        status: 'online',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar_title: 'AD',
                        name: 'Andrew Brain',
                        status: 'online',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar: '/images/people/50/guy-2.jpg',
                        name: 'Jimmy Carter',
                        status: 'online',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar: '/images/people/50/woman-2.jpg',
                        name: 'Samantha Doe',
                        status: 'online',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar_title: 'XD',
                        name: 'Xander Dale',
                        status: 'offline',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar: '/images/people/50/woman-1.jpg',
                        name: 'Beatriz Summers',
                        status: 'offline',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar: '/images/people/50/woman-3.jpg',
                        name: 'Cassie Wills',
                        status: 'offline',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar: '/images/people/50/guy-1.jpg',
                        name: 'Jarrod Forrest',
                        active: true,
                        status: 'offline',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }, {
                        avatar: '/images/people/50/guy-3.jpg',
                        name: 'Ziva Ochoa',
                        status: 'offline',
                        func: () => Math.floor(Math.random() * (100 - 20 + 1) + 20),
                    }]
            },
            topics() {
                let topics = "[{\"categoryName\":\"A. Numbers and counting up to 3\",\"skills\":[\"1. Identify numbers - up to 3\",\"2. Learn to count - up to 3\",\"3. Count pictures - up to 3\",\"4. Count dots - up to 3\",\"5. Count shapes - up to 3\",\"6. Count using stickers - up to 3\",\"7. Count on ten frames - up to 3\",\"8. Show numbers on ten frames - up to 3\",\"9. Represent numbers with pictures - up to 3\",\"10. Represent numbers with shapes - up to 3\"]},{\"categoryName\":\"B. Numbers and counting up to 5\",\"skills\":[\"1. Identify numbers - up to 5\",\"2. Learn to count - up to 5\",\"3. Count pictures - up to 5\",\"4. Count dots - up to 5\",\"5. Count shapes in rows - up to 5\",\"6. Count scattered shapes - up to 5\",\"7. Count using stickers - up to 5\",\"8. Count cubes - up to 5\",\"9. Show numbers with cubes - up to 5\",\"10. Count on ten frames - up to 5\",\"11. Show numbers on ten frames - up to 5\",\"12. Represent numbers with pictures - up to 5\",\"13. Represent numbers with shapes - up to 5\",\"14. One more with pictures - up to 5\",\"15. One less with pictures - up to 5\",\"16. Ordinal numbers - up to fifth\"]},{\"categoryName\":\"C. Numbers and counting up to 10\",\"skills\":[\"1. Identify numbers - up to 10\",\"2. Learn to count - up to 10\",\"3. Count pictures - up to 10\",\"4. Count dots - up to 10\",\"5. Count shapes in rows - up to 10\",\"6. Count scattered shapes - up to 10\",\"7. Count shapes in rings - up to 10\",\"8. Count using stickers - up to 10\",\"9. Count cubes - up to 10\",\"10. Show numbers with cubes - up to 10\",\"11. Count on ten frames - up to 10\",\"12. Show numbers on ten frames - up to 10\",\"13. Represent numbers - up to 10\",\"14. One more with pictures - up to 10\",\"15. One less with pictures - up to 10\",\"16. Tally marks - up to 10\",\"17. Ordinal numbers - up to tenth\"]},{\"categoryName\":\"D. Numbers and counting up to 20\",\"skills\":[\"1. Identify numbers - up to 20\",\"2. Count pictures - up to 20\",\"3. Count dots - up to 20\",\"4. Count shapes - up to 20\",\"5. Count on ten frames - up to 20\",\"6. Show numbers on ten frames - up to 20\",\"7. Represent numbers - up to 20\",\"New! Count up - up to 20\"]},{\"categoryName\":\"E. Comparing\",\"skills\":[\"1. More\",\"2. Fewer\",\"New! Fewer and more - compare by matching\",\"3. Fewer and more - compare by counting\",\"4. Fewer and more - compare in a mixed group\",\"5. Fewer, more, and same\",\"6. Are there enough?\",\"7. Which number is larger?\",\"New! Which number is largest?\",\"8. Which number is smaller?\",\"New! Which number is smallest?\"]},{\"categoryName\":\"F. Positions\",\"skills\":[\"1. Inside and outside\",\"2. Left and right\",\"3. Left, middle, and right\",\"4. Top and bottom\",\"5. Top, middle, and bottom\",\"6. Above and below\",\"7. Beside and next to\"]},{\"categoryName\":\"G. Classify\",\"skills\":[\"1. Different\",\"2. Same\",\"3. Same and different\",\"4. Classify shapes by color\",\"5. Classify and sort by color\",\"6. Classify and sort by shape\"]},{\"categoryName\":\"H. Patterns\",\"skills\":[\"1. Color patterns\",\"2. Size patterns\",\"3. Shape patterns\",\"4. What comes next?\"]},{\"categoryName\":\"I. Size\",\"skills\":[\"1. Long and short\",\"2. Tall and short\",\"3. Wide and narrow\",\"4. Light and heavy\",\"5. Holds more or less\",\"6. Compare size, weight, and capacity\"]},{\"categoryName\":\"J. Money\",\"skills\":[\"1. Pennies and nickels\",\"2. Dimes and quarters\",\"3. Pennies, nickels, dimes, and quarters\",\"4. Count pennies\"]},{\"categoryName\":\"K. Flat shapes\",\"skills\":[\"1. Name the shape\",\"2. Circles\",\"3. Triangles\",\"4. Squares\",\"5. Rectangles\",\"6. Circles, squares, and triangles\",\"7. Circles, squares, triangles, and rectangles\",\"8. Count sides\",\"9. Count corners\",\"10. Count sides and corners\"]},{\"categoryName\":\"L. Solid shapes\",\"skills\":[\"1. Flat and solid shapes\",\"2. Name the solid shape\",\"3. Spheres\",\"4. Cubes\",\"5. Cones\",\"6. Cylinders\",\"7. Select solid shapes\",\"8. Identify shapes traced from solids\",\"9. Shapes of everyday objects I\",\"10. Shapes of everyday objects II\"]},{\"categoryName\":\"M. Addition up to 5\",\"skills\":[\"1. Put together cubes - sums up to 5\",\"2. Add with cubes - sums up to 5\",\"3. Add with pictures - sums up to 5\",\"4. Addition sentences up to 5: which model matches?\",\"5. Addition sentences up to 5: what does the model show?\",\"6. Addition word problems with pictures - sums up to 5\"]},{\"categoryName\":\"N. Addition up to 10\",\"skills\":[\"1. Put together cubes - sums up to 10\",\"2. Add with cubes - sums up to 10\",\"3. Add with pictures - sums up to 10\",\"4. Addition sentences up to 10: which model matches?\",\"5. Addition sentences up to 10: what does the model show?\",\"6. Addition word problems with pictures - sums up to 10\"]},{\"categoryName\":\"O. Subtraction up to 5\",\"skills\":[\"1. Take away cubes - numbers up to 5\",\"2. Subtract with cubes - numbers up to 5\",\"3. Subtract with pictures - numbers up to 5\",\"4. Subtraction sentences up to 5: which model matches?\",\"5. Subtraction word problems with pictures - numbers up to 5\"]},{\"categoryName\":\"P. Subtraction up to 10\",\"skills\":[\"1. Take away cubes - numbers up to 10\",\"2. Subtract with cubes - numbers up to 10\",\"3. Subtract with pictures - numbers up to 10\",\"4. Subtraction sentences up to 10: which model matches?\",\"5. Subtraction word problems with pictures - numbers up to 10\"]}]";
                let data = [];

                topics = JSON.parse(topics);

                let topicIdCounter = 1;
                let skillIdCounter = 1;

                topics.forEach((topic, topicIndex) => {
                    if (topicIndex > 5) {
                        return;
                    }
                    let skillItems = [];

                    let countActive = Math.floor(Math.random() * (topic.skills.length - 1 + 1) + 1)

                    topic.skills.forEach((skill, index) => {

                        skillItems.push({
                            id: skillIdCounter,
                            title: skill,
                            type: 'lesson',
                            done: countActive > index + 1,
                            active: countActive === index + 1,
                            locked: countActive < index + 1
                        })

                        skillIdCounter++;
                    })

                    data.push({
                        id: topicIdCounter,
                        visible: topicIndex === 0,
                        title: topic.categoryName,
                        items: skillItems
                    })

                    topicIdCounter++;
                })

                return data;
            }
        },
        mounted () {
            this.$nextTick(() => {
                this.filter.subject = this.subjects && this.subjects[0].name
                this.filter.grade = this.grades && this.grades[0].abbr
            })
        },
    }
</script>

<style lang="scss">
    .analytics-scores__page {
        .header-filter__container {
            justify-content: space-between;
            align-items: stretch;
            column-gap: 0.875rem;

            .form-group {
                flex: 1;
            }
        }
    }
</style>