<template>
    <h1 class="text-shadow">In developing...</h1>
</template>

<script>
    import Page from '~/components/Page'

    export default {
        name: 'Students',
        extends: Page,
        middleware: ['roles'],
        meta: {
            roles: ['parent', 'teacher', 'admin', 'student']
        },
    }
</script>

<style scoped>

</style>