<template>
    <div :id="id" class="autocomplete__input">
        <b-form-input
            @click="toggle"
            @blur="close"
            :disabled="disabled"
            autocomplete="off"
            @input="($event) => $emit('search', $event) && open()"
            v-model="localModel"
            size="lg"/>
        <b-dropdown
            :text="`View by `"
            variant="link text-black-70"
            class="autocomplete__drop-down"
            menu-class="autocomplete_menu">
            <b-dropdown-item v-if="loading">
                <ColorsCirclesStrokeLoader></ColorsCirclesStrokeLoader>
            </b-dropdown-item>
            <template v-else-if="items.length">
                <b-dropdown-item v-if="showChooseNew" data-item-indx="create">
                    <slot name="create-item"></slot>
                </b-dropdown-item>
                <b-dropdown-item v-for="(item, index) in items" :active="selectedItem && selectedItem.name === item.name"
                                 :data-item-indx="index">
                    <span>
                        {{ item.name }}
                    </span>
                </b-dropdown-item>
            </template>

            <template v-else>
                <b-dropdown-item v-if="showChooseNew" data-item-indx="create">
                    <slot name="create-item"></slot>
                </b-dropdown-item>
                <b-dropdown-item disabled v-else>
                    <slot name="empty-items">
                        <div class="page-separator__text"
                             style="background: transparent">Not found items
                        </div>
                    </slot>
                </b-dropdown-item>
            </template>
        </b-dropdown>
    </div>
</template>

<script>
    export default {
        name: 'AutocompleteInput',
        props: {
            value: {},
            items: {},
            disabled: {},
            loading: {},
            create: {},
        },
        data () {
            return {
                id: null,
                searchModel: null,
                selectedItem: null,
                localModel: null
            }
        },
        watch: {
            value(val, oldVal) {
                if (val !== oldVal) {
                    if (!_.isEqual(val, this.selectedItem)) {
                        this.selectedItem = val;
                        this.$emit('search', val && val.name);
                    }
                }
            },
            selectedItem(val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val && val.name;
                    this.$emit('input', val);
                }
            },
            items(val) {
                if (this.selectedItem && !_.find(val, i => _.isEqual(i, this.selectedItem))) {

                    // this.selectedItem = null
                }
            },
        },
        computed: {
            showChooseNew() {
                return this.create && this.localModel && !_.find(this.items, {name: this.localModel}) && (!this.selectedItem || this.selectedItem.name !== this.localModel)
            }
        },
        methods: {
            close ($event = null) {
                let settedManually = false;
                let justClose = false;
                if ($event && $event.relatedTarget && $event.relatedTarget.classList.contains('dropdown-item') && $event.relatedTarget.getAttribute('data-item-indx')) {
                    if ($event.relatedTarget.getAttribute('data-item-indx') === 'create') {
                        justClose = true;
                        this.setItem({
                            name: this.localModel
                        });
                    } else {
                        this.setItem(this.items[$event.relatedTarget.getAttribute('data-item-indx')]);
                    }
                    settedManually = true;
                }

                if (! justClose) {
                    if (!this.selectedItem) {
                        if(this.localModel) {
                            this.$emit('search', '');
                            this.localModel = null;
                        }
                    } else {
                        if (this.localModel !== this.selectedItem.name) {
                            if (this.localModel === '' && !settedManually) {
                                this.selectedItem = null;
                            } else {
                                this.localModel = this.selectedItem.name;
                                this.open();
                                this.$emit('search', this.localModel)
                            }
                        }
                    }
                }

                $(`.autocomplete__input#${this.id} .autocomplete__drop-down`).removeClass('show')
                this.$emit('close')
            },
            open () {
                $(`.autocomplete__input#${this.id} .autocomplete__drop-down`).addClass('show')
                this.$emit('open')
            },
            toggle (key) {
                const el = $(`.autocomplete__input#${this.id} .autocomplete__drop-down`)
                if (el.hasClass('show')) {
                    this.close()
                }
                else {
                    this.open()
                }
            },
            setItem (item) {
                this.selectedItem = item;
            },
        },
        mounted () {
            this.id = _.uniqueId('autocomplete__input')
        },
    }
</script>

<style lang="scss">
    .autocomplete__input {
        .b-dropdown {
            .dropdown-toggle {
                text-decoration: none;
            }
        }

        .autocomplete__drop-down {
            width: 100%;

            .dropdown-toggle {
                display: none !important;
            }

            .autocomplete_menu {
                top: -10px;
                left: 0;
            }
        }
    }
</style>