<template>
    <div>
        <sub-navbar
            v-if="subNavbarItems.length"
            :items="subNavbarItems"
            :container-class="containerClass" />
        <div class="page-section d-flex flex-column container page__container">
            <nuxt v-if="! isCurrentRoute" />
            <h1 class="text-shadow" v-else>Admin dashboard</h1>
        </div>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import SubNavbar from '~/components/Navbar/SubNavbar'

    export default {
        name: 'index',
        extends: Page,
        middleware: ['isAdmin'],
        components: {
            SubNavbar
        },
        data() {
            return {
            }
        },
        computed: {
            baseContentView() {
                return this.$store.getters['admin/baseContentView'];
            },
            subNavbarItems() {
                return this.$store.getters['admin/schemeSubRoutes'];
            },
            isCurrentRoute() {
                return this.$nuxt.$route.path === this.routes.adminDashboard.path;
            }
        }
    }
</script>

<style scoped>

</style>