<template>
    <div>
        <sub-navbar
            v-if="subNavbarItems.length"
            :items="subNavbarItems"
            :container-class="containerClass" />
        <div class="page-section d-flex flex-column container page__container">
            <nuxt v-if="! baseContentView" />
            <h1 class="text-shadow" v-else>Base guest content</h1>
        </div>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import SubNavbar from '~/components/Navbar/SubNavbar'

    export default {
        name: 'analytics',
        middleware: 'disableRoute',
        meta: {
          redirect: ['/analytics', (context) => {
              const routes = context.store.getters['analytics/schemeSubRoutes'];

              if (routes[0]) {
                  // context.redirect({...routes[0].route, query: { studentId: '123' }});
                  context.redirect({ ...routes[0].route, params: { studentId: '123' } });
              }
          }]
        },
        components: {
            SubNavbar
        },
        extends: Page,
        data() {
            return {
            }
        },
        computed: {
            baseContentView() {
                return this.$store.getters['analytics/baseContentView'];
            },
            subNavbarItems() {
                return this.$store.getters['analytics/schemeSubRoutes'];
            }
        }
    }
</script>

<style scoped>

</style>