<template>
  <div>
    <div class="page-section d-flex flex-column container page__container">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Page from '~/components/Page'
import SubNavbar from '~/components/Navbar/SubNavbar'

export default {
  name: 'Billing',
  middleware: 'roles',
  extends: Page,
  meta: {
    roles: ['teacher', 'parent']
  },
  components: {
    SubNavbar
  },
  data() {
    return {
    }
  },
  computed: {
  }
}
</script>

<style scoped>

</style>