<template>
    <div>
        <div class="page-section d-flex flex-column container page__container">
            <h1 class="text-shadow">In developing...</h1>
        </div>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import SubNavbar from '~/components/Navbar/SubNavbar'

    export default {
        name: 'diagnostic',
        components: {
            SubNavbar
        },
        extends: Page
    }
</script>

<style scoped>

</style>