<template>
    <div class="page-section d-flex flex-column container page__container">
        <div id="app" ref="editor">
            <froala :tag="'textarea'" :config="config" v-model="model" :onManualControllerReady="initialize"></froala>
            <br>
            <b-button @click="change">
                <md-icon>search</md-icon>
            </b-button>
        </div>
        <b-button v-b-toggle.sidebar-1>Toggle Sidebar</b-button>
        <div class="p-5" style="border: 1px solid red">
            <b-sidebar id="sidebar-1" title="Sidebar" shadow>
                <div class="px-3 py-2">
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
                        in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                    <b-img src="https://picsum.photos/500/500/?image=54" fluid thumbnail></b-img>
                </div>
            </b-sidebar>

        </div>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    // import VueFroala from 'vue-froala-wysiwyg';

    // Wrap wrapper around nodes
    // Just pass a collection of nodes, and a wrapper element
    function wrapAll(nodes, wrapper) {
        // Cache the current parent and previous sibling of the first node.
        var parent = nodes[0].parentNode;
        var nextSibling = nodes[0].nextSibling;

        // Place each node in wrapper.
        //  - If nodes is an array, we must increment the index we grab from
        //    after each loop.
        //  - If nodes is a NodeList, each node is automatically removed from
        //    the NodeList when it is removed from its parent with appendChild.
        for (var i = 0; nodes.length - i; wrapper.firstChild === nodes[0] && i++) {
            wrapper.appendChild(nodes[i]);
        }

        // Place the wrapper just after the cached previousSibling
        parent.insertBefore(wrapper, nextSibling.previousSibling);

        return wrapper;
    }

    import FroalaEditor from 'froala-editor';

    FroalaEditor.DefineIcon('alert', {NAME: 'info', SVG_KEY: 'help'});
    FroalaEditor.RegisterCommand('alert', {
        title: 'Hello',
        focus: false,
        undo: false,
        refreshAfterCallback: false,
        callback: function () {
            alert('Hello!');
        }
    });

    FroalaEditor.DefineIcon('clear', {NAME: 'remove', SVG_KEY: 'remove'});
    FroalaEditor.RegisterCommand('clear', {
        title: 'Clear HTML',
        focus: false,
        undo: true,
        refreshAfterCallback: true,
        callback: function () {
            this.html.set('');
            this.events.focus();
        }
    });

    FroalaEditor.DefineIcon('insert', {NAME: 'plus', SVG_KEY: 'add'});
    FroalaEditor.RegisterCommand('insert', {
        title: 'Insert HTML',
        focus: true,
        undo: true,
        refreshAfterCallback: true,
        callback: function () {
            this.html.insert('My New HTML');
        }
    });

    export default {
        name: 'Editor',
        extends: Page,
        data () {
            return {
                open: false,
                config: {
                    events: {
                        'initialized': () => {
                           this.$nextTick(() => {
                               var div = document.createElement('div');
                               div.style.opacity = 0;
                               div.style.height = 0;
                               wrapAll([this.$refs.editor.querySelector('.fr-wrapper').firstChild], div)
                           })
                        }
                    },

                    // toolbarButtons: [],
                },

                model: null,
                initControls: null,
                deleteAll: null,
            }
        },
        methods: {
            change() {
                // console.log(this.config.toolbarButtons);
                // this.config.toolbarButtons = [];
                // this.initControls.getEditor().button.refresh();

                this.initControls.destroy();
                this.config.toolbarButtons = [];
                this.initControls.initialize();
            },
            initialize: function(initControls) {
                this.initControls = initControls;
                this.deleteAll = () => {
                    this.initControls.getEditor().html.set('');
                    this.initControls.getEditor().undo.reset();
                    this.initControls.getEditor().undo.saveStep();
                };

                this.initControls.initialize();
            }
        }
    }
</script>

<style scoped>

</style>