<template>
    <div>
        <fmv-box
            v-if="localPageHeader"
            effects="parallax-background blend-background"
            box-image="/images/photodune-4161018-group-of-students-m.jpg"
            class="mdk-box--bg-primary bg-dark mb-0">

            <home-hero
                v-bind="headerContentComponentProps" />
        </fmv-box>

        <div class="page-section border-bottom-2">
            <div :class="containerClass">

                <page-separator>Grades</page-separator>

                <div class="row card-group-row" style="gap: 20px 0;">
                    <div
                        v-for="(grade, index) in grades"
                        :key="index"
                        class="col-md-6 col-lg-4 card-group-row__col" >
                        <grade-card :title="grade.name" :description="grade.short_description" :grade="grade"></grade-card>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {
      BlogPostFeaturedCard as PostFeaturedCard,
      BlogPostCard as PostCard,
      AccountPathCard,
      CourseCard,
      FeedbackPageSectionCarousel as PageFeedback,
      HomeHero as StudentHomeHero,
      MdIcon,
      PageSeparator
    } from 'vue-luma'

    import Page from '~/components/Page'
    import GradeCard from '~/components/Home/GradeCard'

    import {FmvBox} from 'fmv-layout'
    import HomeHero from '~/components/Home/HomeHero'

    export default {
        components: {
            PostFeaturedCard,
            PostCard,
            AccountPathCard,
            CourseCard,
            PageFeedback,
            HomeHero,
            FmvBox,
            MdIcon,
            PageSeparator,
            GradeCard
        },
        extends: Page,
        computed: {
            blogPosts1() {
                return [{
                    image: "sketch",
                    category: "Sketch",
                    title: "Merge Duplicates Inconsistent Symbols",
                    author_avatar: "/images/256_luke-porter-261779-unsplash.jpg",
                    to: this.routes.blogPost
                }, {
                    image: "invision",
                    category: "inVision",
                    title: "Design Systems Essentials",
                    author_avatar: "/images/256_michael-dam-258165-unsplash.jpg",
                    to: this.routes.blogPost
                }, {
                    image: "photoshop",
                    category: "Photoshop",
                    title: "Semantic Logo Design",
                    author_avatar: "/images/256_rsz_1andy-lee-642320-unsplash.jpg",
                    to: this.routes.blogPost
                }]
            },
            blogPosts2() {
                return [{
                    avatar: "/images/paths/invision_200x168.png",
                    title: "Design Systems Essentials",
                    views: 35,
                    tag: "inVision",
                    date: "11 Nov, 2018 07:46 AM",
                    avatarGroup: true,
                    avatarCount: 3,
                    avatars: [
                        "/images/256_rsz_1andy-lee-642320-unsplash.jpg",
                        "/images/256_michael-dam-258165-unsplash.jpg",
                        "/images/256_luke-porter-261779-unsplash.jpg"
                    ],
                    to: this.routes.blogPost
                }]
            },
            guest() {
                return true
            },
            localPageHeader() {
                return this.$root.layoutName !== 'fixed'
            },
            headerClass() {
                if (this.$root.layoutName === 'fixed') {
                    return 'mdk-header--bg-dark bg-dark mb-0'
                }
            },
            headerEffects() {
                if (this.$root.layoutName === 'fixed') {
                    return 'parallax-background waterfall'
                }
            },
            headerImage() {
                if (this.$root.layoutName === 'fixed') {
                    return '/images/header-hero-logo.jpg'
                }
            },
            headerContentClass() {
                if (this.$root.layoutName === 'fixed') {
                    return 'justify-content-center'
                }
            },
            headerCondenses() {
                return this.$root.layoutName === 'fixed'
            },
            headerContentComponent() {
                return HomeHero
            },
            grades () {
                return this.$store.getters['subjects/homePageGrades'] || []
            },
        },
        props: {
            paths1: {
                type: Array,
                default: () => [{
                    title: 'React Native',
                    image: 'react'
                }, {
                    title: 'Dev Ops',
                    image: 'devops'
                }, {
                    title: 'Redis',
                    image: 'redis'
                }]
            },
            paths2: {
                type: Array,
                default: () => [{
                    title: 'MailChimp',
                    image: 'mailchimp'
                }, {
                    title: 'Swift',
                    image: 'swift'
                }, {
                    title: 'WordPress',
                    image: 'wordpress'
                }]
            },
            courses: {
                type: Array,
                default: () => [{
                    title: 'Learn Sketch',
                    image: 'sketch'
                }, {
                    title: 'Learn Flinto',
                    image: 'flinto'
                }, {
                    title: 'Learn Photoshop',
                    image: 'photoshop'
                }, {
                    title: 'Learn Figma',
                    image: 'figma'
                }]
            }
        }
    }
</script>
