<template>
    <div>
        <sub-navbar
            v-if="subNavbarItems.length"
            :items="subNavbarItems"
            :container-class="containerClass" />
        <div class="page-section d-flex flex-column container page__container">
            <nuxt v-if="! baseContentView" />
            <h1 class="text-shadow" v-else>Base content</h1>
        </div>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import SubNavbar from '~/components/Navbar/SubNavbar'

    export default {
        name: 'learning',
        middleware: 'disableRoute',
        meta: {
            redirect: ['/learning', (context) => {
                const routes = context.store.getters['learning/schemeSubRoutes'];

                if (routes[0]) {
                    context.redirect(routes[0].route);
                }
            }]
        },
        extends: Page,
        components: {
            SubNavbar
        },
        data() {
            return {
            }
        },
        computed: {
            baseContentView() {
                return this.$store.getters['learning/baseContentView'];
            },
            subNavbarItems() {
                return this.$store.getters['learning/schemeSubRoutes'];
            }
        }
    }
</script>

<style scoped>

</style>