<template>
  <div>
    <div class="pt-32pt mb-32pt">
      <div class="d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
          <div class="mb-24pt mb-sm-0 mr-sm-24pt"><h1 class="mb-0 h2">Billing</h1>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/" class="active" target="_self">Home</a></li>
              <li class="breadcrumb-item active">
                <span v-if="!changeMethod" aria-current="location">Subscription</span>
                <span v-else aria-current="location">PAYMENT INFORMATION</span>

              </li>
            </ol>
          </div>
        </div> <!----></div>
    </div>
    <div class="page-separator">
      <div v-if="!changeMethod" class="page-separator__text">Subscription</div>
      <div v-else class="page-separator__text">PAYMENT INFORMATION</div>
    </div>
    <div v-if="showTarrifs" class="row card-group-row mb-40pt">
      <div class="col-lg-4 col-sm-6 card-group-row__col">
        <div class="card card-group-row__card text-center o-hidden"><!---->
          <div class="card-body d-flex flex-column">
            <div class="flex-grow-1 mb-16pt"><span
                class="w-64 h-64 icon-holder rounded-circle d-inline-flex mb-16pt icon-holder--outline-secondary"><i
                class="material-icons">person</i></span> <h4 class="mb-8pt">Free</h4>
              <p class="text-black-70">Access to over 1.000 high quality courses. For individuals.</p></div>
            <p class="d-flex justify-content-center align-items-center m-0"><span
                class="h4 m-0 font-weight-normal">$</span> <span class="h1 m-0 font-weight-normal">0</span> <span
                class="h4 m-0 font-weight-normal">/ month</span></p>
            </div>
          <div class="card-footer"><a aria-disabled="true" tabindex="-1" @click="getStarted('free')"  target="_self"
                                      class="btn disabled btn-outline-secondary disabled">Current plan</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 card-group-row__col">
        <div class="card card-group-row__card text-center o-hidden card--raised"><!---->
          <div class="card-body d-flex flex-column">
            <div class="flex-grow-1 mb-16pt"><span
                class="w-64 h-64 icon-holder rounded-circle d-inline-flex mb-16pt icon-holder--outline-accent"><i
                class="material-icons">group</i></span> <h4 class="mb-8pt">{{ currentRole | capitalize}}</h4>
              <p class="text-black-70">Starts with 3 accounts with more seats available.</p></div>
            <p class="d-flex justify-content-center align-items-center m-0"><span
                class="h4 m-0 font-weight-normal">$</span> <span class="h1 m-0 font-weight-normal">19</span> <span
                class="h4 m-0 font-weight-normal">/ month</span></p>
            <p class="lh-1 text-muted"><small>after the free trial ends</small></p></div>
          <div class="card-footer"><a @click="getStarted(currentRole)" target="_self" class="btn btn-accent">Get started</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 card-group-row__col">
        <div class="card card-group-row__card text-center o-hidden card--raised"><!---->
          <div class="card-body d-flex flex-column">
            <div class="flex-grow-1 mb-16pt"><span
                class="w-64 h-64 icon-holder rounded-circle d-inline-flex mb-16pt icon-holder--outline-accent"><i
                class="material-icons">group</i></span> <h4 class="mb-8pt">Pro</h4>
              <p class="text-black-70">Build customized learning paths with content that aligns to your internal
                learning goals.</p></div>
            <p class="d-flex justify-content-center align-items-center m-0"><span
                class="h4 m-0 font-weight-normal">$</span> <span class="h1 m-0 font-weight-normal">49</span> <span
                class="h4 m-0 font-weight-normal">/ month</span></p>
            <p class="lh-1 text-muted"><small>after the free trial ends</small></p></div>
          <div class="card-footer"><a @click="getStarted('Pro')"  target="_self" class="btn btn-accent">Get started</a></div>
        </div>
      </div>
    </div>
    <template v-else>
      <div v-if="!changeMethod" class="measure-lead-max page-section pt-0">
        <div class="card"><!----><!---->
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <fieldset class="form-group m-0 row-align-items-center" breakpoint="md" horizontal="" id="__BVID__909"
                        aria-labelledby="__BVID__909__BV_label_">
                <div class="form-row">
                  <legend tabindex="-1" class="col-3 bv-no-focus-ring col-form-label form-label"
                          id="__BVID__909__BV_label_">Your current plan
                  </legend>
                  <div tabindex="-1" role="group" class="bv-no-focus-ring col"><span
                      class="d-flex align-items-center flex-wrap"><span class="flex">{{ currentPlan.name | capitalize }}, $19 per month</span> <a
                      href="/default/billing-upgrade" class="btn btn-link text-secondary px-0"
                      target="_self">Change plan</a></span><!----><!----><!----></div>
                </div>
              </fieldset>
            </div>
            <div class="list-group-item">
              <fieldset class="form-group m-0 row-align-items-center" breakpoint="md" horizontal="" id="__BVID__912"
                        aria-labelledby="__BVID__912__BV_label_">
                <div class="form-row">
                  <legend tabindex="-1" class="col-3 bv-no-focus-ring col-form-label form-label"
                          id="__BVID__912__BV_label_">Billing cycle
                  </legend>
                  <div tabindex="-1" role="group" class="bv-no-focus-ring col"><p class="mb-1">You will be charged $19 on
                    Nov
                    25, 2021</p>
                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                                                                       value="true" id="__BVID__913"><label
                        class="custom-control-label" for="__BVID__913"><strong>Enable automatic renewal</strong></label>
                    </div><!----><!----><!----></div>
                </div>
              </fieldset>
            </div>
            <div class="list-group-item">
              <fieldset class="form-group m-0 row-align-items-center" breakpoint="md" horizontal="" id="__BVID__914"
                        aria-labelledby="__BVID__914__BV_label_">
                <div class="form-row">
                  <legend tabindex="-1" class="col-3 bv-no-focus-ring col-form-label form-label"
                          id="__BVID__914__BV_label_">Payment information
                  </legend>
                  <div v-if="currentPlan" tabindex="-1" role="group" class="bv-no-focus-ring col"><span
                      class="d-flex align-items-center flex-wrap"><span class="flex d-flex align-items-center"><img
                      src="/images/visa.svg" alt="cc" width="40" class="mr-3"> <span class="flex"
                                                                                     style="white-space: nowrap;">{{ currentPlan.pm_type | capitalize }} ending with {{ currentPlan.pm_last_four }}</span></span> <a
                      @click="changeMethod = true" class="btn btn-link text-secondary px-0"
                      target="_self">Change method</a></span><!----><!----><!----></div>
                </div>
              </fieldset>
            </div>
            <div class="list-group-item">
              <fieldset class="form-group m-0 row-align-items-center" breakpoint="md" horizontal="" id="__BVID__917"
                        aria-labelledby="__BVID__917__BV_label_">
                <div class="form-row">
                  <legend tabindex="-1" class="col-3 bv-no-focus-ring col-form-label form-label"
                          id="__BVID__917__BV_label_">Cancel
                  </legend>
                  <div tabindex="-1" role="group" class="bv-no-focus-ring col">
                    <button type="button" class="btn btn-outline-secondary">Cancel subscription</button><!----><!---->
                    <!----></div>
                </div>
              </fieldset>
            </div>
          </div><!----><!----></div>
      </div>
      <div v-if="changeMethod" class="measure-lead-max page-section pt-0">
        <div class="card"><!----><!---->
          <div class="list-group list-group-flush">
            <div class="list-group-item"><span class="d-flex align-items-center"><img src="/images/visa.svg" alt="cc"
                                                                                      width="40" class="mr-3"> <span
                class="flex" style="white-space: nowrap;">
              Your current payment method is
              <strong>Visa ending with 2819</strong></span></span></div>
            <b-alert v-if="errors" class="list-group-item" show variant="danger">{{ errors }}</b-alert>
            <div class="list-group-item">
              <div role="group" class="form-row form-group m-0 row-align-items-center" breakpoint="md" horizontal=""
                   id="__BVID__1179"><label for="cvv" class="col-3 col-form-label form-label"
                                            id="__BVID__1179__BV_label_">Card Name</label>
                <div class="bv-no-focus-ring col"><input id="card_name" type="text" placeholder="Card name" class="form-control"></div>
              </div>
            </div>
            <div class="list-group-item">
                <div id="card-element"></div>
              </div>
<!--            <div class="list-group-item">-->
<!--              <fieldset class="form-group m-0 row-align-items-center" breakpoint="md" horizontal="" id="__BVID__1176"-->
<!--                        aria-labelledby="__BVID__1176__BV_label_">-->
<!--                <div class="form-row">-->
<!--                  <legend tabindex="-1" class="col-3 bv-no-focus-ring col-form-label form-label"-->
<!--                          id="__BVID__1176__BV_label_">Payment type-->
<!--                  </legend>-->
<!--                  <div tabindex="-1" role="group" class="bv-no-focus-ring col">-->
<!--                    <div role="group" class="btn-group">-->
<!--                      <button type="button" aria-pressed="true" autocomplete="off"-->
<!--                              class="btn btn-outline-secondary active">Debit or credit card-->
<!--                      </button>-->
<!--                      <button type="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-secondary">-->
<!--                        PayPal-->
<!--                      </button>-->
<!--                    </div>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</div>-->
<!--                </div>-->
<!--              </fieldset>-->
<!--            </div>-->
<!--            <div class="list-group-item">-->
<!--              <div role="group" class="form-row form-group m-0 row-align-items-center" breakpoint="md" horizontal=""-->
<!--                   id="__BVID__1177"><label for="cc" class="col-3 col-form-label form-label" id="__BVID__1177__BV_label_">Card-->
<!--                number</label>-->
<!--                <div class="bv-no-focus-ring col"><input id="cc" type="text" placeholder="Credit / debit card number"-->
<!--                                                         class="form-control">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="list-group-item">-->
<!--              <div role="group" class="form-row form-group m-0 row-align-items-center" breakpoint="md" horizontal=""-->
<!--                   id="__BVID__1181"><label for="expire_month" class="col-3 col-form-label form-label"-->
<!--                                            id="__BVID__1181__BV_label_">Expiration date</label>-->
<!--                <div class="bv-no-focus-ring col">-->
<!--                  <div class="form-row">-->
<!--                    <div class="col-auto"><select id="expire_month" class="custom-select" style="width: 140px;">-->
<!--                      <option value="1">January</option>-->
<!--                      <option value="2">February</option>-->
<!--                      <option value="3">March</option>-->
<!--                      <option value="4">April</option>-->
<!--                      <option value="5">May</option>-->
<!--                      <option value="6">June</option>-->
<!--                      <option value="7">July</option>-->
<!--                      <option value="8">August</option>-->
<!--                      <option value="9">September</option>-->
<!--                      <option value="10">October</option>-->
<!--                      <option value="11">November</option>-->
<!--                      <option value="12">December</option>-->
<!--                    </select></div>-->
<!--                    <div class="col-auto"><select id="expire_year" class="custom-select" style="width: 100px;">-->
<!--                      <option value="2018">2018</option>-->
<!--                      <option value="2019">2019</option>-->
<!--                      <option value="2020">2020</option>-->
<!--                      <option value="2021">2021</option>-->
<!--                      <option value="2022">2022</option>-->
<!--                      <option value="2023">2023</option>-->
<!--                    </select></div>-->
<!--                  </div>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="list-group-item">
              <button @click="upgrade" type="button" class="btn btn-primary">Save Changes</button>
              <button @click="changeMethod = false" type="button" class="btn btn-outline-secondary">Back</button>
            </div>
          </div><!----><!----></div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {
      changeMethod: false,
      currentPlan: null,
      stripe: null,
      cardElement: null,
      upgrading: false,
      loading: false,
      paymentMethod: null,
      planName: null,
      errors: null,
      setupIntent: null
    }
  },

  computed: {
    currentRole() {
      return this.$auth.user.role;
    },
    showTarrifs() {
      return !this.currentPlan && !this.changeMethod
    }
  },
  methods: {
    async getStarted(planName) {
      this.upgrading = true;
      this.changeMethod = true;
      this.planName = planName

     setTimeout(async () => {
       this.generateStripeForm();
     })
    },
    generateStripeForm() {
      var style = {
        base: {
          color: "#32325d",
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#aab7c4"
          }
        },
        invalid: {
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };
      var elements = this.stripe.elements();
      this.cardElement = elements.create('card', {style: style, hidePostalCode: true});
      this.cardElement.mount("#card-element");
      this.cardElement.on('change', (event) => {
        if (event.error) {
          this.errors = event.error.message;
        } else {
          this.errors = '';
        }
      });
    },
    async upgrade() {
      this.loading = true;
      this.errors = null
      const clientSecret = this.setupIntent && this.setupIntent.client_secret;
      const cardName = document.getElementById('card_name').value;
      if (clientSecret) {
        if (!this.paymentMethod) {
          let {setupIntent, error} = await this.stripe.confirmCardSetup(
              clientSecret, {
                payment_method: {
                  card: this.cardElement,
                  billing_details: {name: cardName}
                }
              }
          )



          if (error && error.code === 'setup_intent_unexpected_state') {
            setupIntent = error.setup_intent;
            error = false;
          }

          if (error) {
            this.errors = error.message;
          } else {
            this.paymentMethod = setupIntent && setupIntent.payment_method;
          }
        }

        if (this.paymentMethod) {
          const subscription = await this.$axios.post('/billing/upgrade', {
            'payment_method_id': this.paymentMethod,
            'subscribe': this.planName
          })

          if (!subscription) {
            this.errors = 'An internal error occurred while subscribing';
          } else {
            this.currentPlan = subscription.data.data;
            this.upgrading = false;
            this.changeMethod = false;
          }
        } else if (!this.errors || this.errors && this.errors.length) {
          this.errors = 'An external error occurred while subscribing';
        }
      } else {
        this.errors = 'An internal error occurred while getting setup intent token';
      }

      this.loading = false;
    }
  },
  async mounted() {
    this.stripe = Stripe('pk_test_51IMCe5CyQcbN3D32bVsMFYFSaQNPPmfVq45UgUEOhHVJq3QnPjLuf42VLa1mYGonKsHdXGHiBaMP4BYzvVMMARrH00SVzF77e0');

    const response = await this.$axios.get('/billing/setup-intent')
    this.setupIntent = response.data.data;
  }
}
</script>

<style scoped>

</style>