<script>

    export default {
        name: 'SelectedSubject',
        mounted () {
            // this.$nuxt.error({ message: "Page could not be found" });
        }
    }
</script>

<style scoped>

</style>