<template>
    <div class="page__admin-skills">
        <page-header
            class="pt-0 "
            id="page-header"
            :title="title"
            :breadcrumb="breadcrumb"/>
        <div class="page-section">
            <div>
                <div v-show="$store.state.skills.showLoading">
                    <div class="d-flex justify-content-center">
                        <ColorsCirclesStrokeLoader
                            :size="2"></ColorsCirclesStrokeLoader>
                    </div>
                </div>
                <div v-if="initLoading"
                     class="d-flex justify-content-center">
                    <ColorsCirclesStrokeLoader
                        :size="2"></ColorsCirclesStrokeLoader>
                </div>
                <div v-show="!$store.state.skills.showLoading" v-else class="card mb-0">
                    <div class="card-header">
                        <create-edit-navbar v-if="nuxtChildPages" :skills="skills"/>
                        <div
                            v-else
                            class="row align-items-end"
                            style="white-space: nowrap;">
                            <div class="col-lg-auto">
                                <form
                                    class="search-form search-form--light d-lg-inline-flex mb-8pt mb-lg-0">
                                    <b-form-input
                                        v-model="search"
                                        class="w-sm-auto"
                                        :placeholder="$t('Search skills')"/>
                                    <b-btn
                                        class="ml-auto"
                                        variant="flush"
                                        type="submit">
                                        <md-icon v-text="'search'"/>
                                    </b-btn>
                                </form>
                            </div>
                            <div
                                class="col-lg d-flex flex-wrap align-items-end">
                                <b-form-group
                                    class="ml-lg-auto mb-0"
                                    :label="$t('Per page')"
                                    label-class="form-label">
                                    <b-form-select
                                        v-model="pagination.perPage"
                                        :options="[5, 10, 15, 30]"/>
                                </b-form-group>
                                <b-dropdown
                                    class="mx-8pt"
                                    :text="sortBy | capitalize"
                                    variant="link text-black-70"
                                    right>
                                    <b-dropdown-item :active="sortBy === 'newest'" @click="sortBy = 'newest'">Newest
                                    </b-dropdown-item>
                                    <b-dropdown-item :active="sortBy === 'oldest'" @click="sortBy = 'oldest'">Oldest
                                    </b-dropdown-item>
                                </b-dropdown>

                                <b-dropdown
                                    :text="`View by ` + categoryBy | capitalize"
                                    variant="link text-black-70"
                                    right>
                                    <b-dropdown-item :active="categoryBy === 'grades'" @click="categoryBy = 'grades'">Grades
                                    </b-dropdown-item>
                                    <b-dropdown-item :active="categoryBy === 'topics'" @click="categoryBy = 'topics'">Topics
                                    </b-dropdown-item>
                                </b-dropdown>

                                <b-btn
                                    class="w-100 w-sm-auto ml-auto mt-8pt mt-sm-0 ml-lg-8pt"
                                    @click="$router.push({...routes.adminDashboard.adminSkillsCreate})"
                                    variant="accent"
                                    v-text="$t('Create Skill')"/>
                            </div>
                        </div>
                    </div>

                    <div class="skills__page-container">
                        <template v-if="nuxtChildPages">
                            <nuxt-child class="p-3"></nuxt-child>
                        </template>
                        <template v-else>
                            <template v-if="!doubleLoading">
                                <skills-table
                                    id="skills-table"
                                    :items="skills"
                                    :loading="skillsLoading"
                                    :per-page="pagination.perPage"
                                    :current-page="pagination.currentPage">
                                    <template slot="navigation">
                                        <div
                                            class="skills-table-anchor skills-table__navigation sidebar-menu d-none d-md-flex">
                                            <div class="sidebar-menu-item"
                                                 :class="{active: selectedSubject && selectedSubject.name === model.name}"
                                                 v-for="model in subjectsModels">
                                                <nuxt-link
                                                    class="sidebar-menu-button"
                                                    :to="{path: '/admin/skills/' + model.name, hash: '#'}">
                                                        <span
                                                            class="sidebar-menu-text">
                                                            {{ model.name | subjectCapitalize }}
                                                        </span>
                                                </nuxt-link>
                                            </div>
                                        </div>
                                        <b-dropdown
                                            class="d-md-none"
                                            :text="'Subject' + (selectedSubject ? (': ' + selectedSubject.name) : '') | capitalize"
                                            variant="link text-black-70"
                                            right>
                                            <b-dropdown-item v-for="model in subjectsModels" :to="{path: '/admin/skills/' + model.name, hash: '#'}" :active="selectedSubject && selectedSubject.name === model.name"> {{ model.name | subjectCapitalize }}</b-dropdown-item>
                                        </b-dropdown>
                                    </template>
                                    <template slot="sidebar">
                                        <skills-table-sidebar
                                            :container-absolute="categoryByTopics"
                                            :loading="gradesLoading"
                                            :items="tableSidebarItems"
                                            :sidebarHeading="tableSidebarHeading">
                                        </skills-table-sidebar>
                                    </template>
                                </skills-table>
                                <div class="card-footer">
                                    <pager
                                        v-model="pagination.currentPage"
                                        :total-rows="skillsMeta.total"
                                        :per-page="pagination.perPage"
                                        :items="skills"
                                        aria-controls="skills-table"/>
                                </div>
                            </template>
                            <div v-else
                                 class="d-flex justify-content-center">
                                <ColorsCirclesStrokeLoader
                                    :size="1"></ColorsCirclesStrokeLoader>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Page from '~/components/Page.vue'
    import SkillsTable from '~/components/Admin/Skills/SkillsTable'
    import SkillsTableSidebar
        from '~/components/Admin/Skills/SkillsTableSidebar'
    import MdIcon from '~/components/Ui/MdIcon.vue'
    import PageHeader from '~/components/Ui/PageHeader.vue'
    import PageSeparator from '~/components/Ui/PageSeparator.vue'
    import Pager from '~/components/Ui/Pager.vue'
    import CreateEditNavbar
        from '~/components/Admin/Skills/CreateEditNavbar'

    import checkvisible from '~/utils/elementVisible'

    export default {
        name: 'SkillList',
        middleware: 'disableRoute',
        meta: {
            redirect: [
                '/admin/skills', (context) => {

                }],
        },
        components: {
            SkillsTable,
            SkillsTableSidebar,
            MdIcon,
            PageHeader,
            PageSeparator,
            Pager,
            CreateEditNavbar
        },
        extends: Page,
        data () {
            return {
                pagination: {
                    perPage: 15,
                    currentPage: 1,
                },
                sortBy: 'newest',
                categoryBy: 'grades',
                search: '',
                // skills: [],
                grades: [],
                topics: [],
                title: 'Skills',
                gradesLoading: false,
                skillsLoading: false,
                requestIds: {},
            }
        },
        filters: {
            capitalize (val) {
                return _.capitalize(val);
            },
            subjectCapitalize (val) {
                return _.startCase(val.replace('_', ' '));
            }
        },
        watch: {
            selectedSubject: {
                handler (val, oldVal) {
                    if (val) {
                        if (oldVal === null && this.grades.length) {
                            // save state
                        }
                        else if (val.name !== (oldVal ? oldVal.name : oldVal)) {
                            if (!this.subjectsModels.find(
                              m => m.name === val.name)) {
                                this.$nuxt.error({ statusCode: 404 })
                            }
                            else {
                                this.gradesLoading = true
                                this.fetchCategoryItems()
                            }
                        }
                    }
                    else {

                    }
                },
                immediate: true,
            },
            categoryBy: {
                handler (val, oldVal) {
                    if (val) {
                        if (val !== oldVal) {
                            this.selectedSubject = this.selectedSubject.name
                            this.gradesLoading = true
                            this.fetchCategoryItems()
                        }
                    }
                    else {

                    }
                },
            },
            grades: {
                handler (val, oldVal) {
                    if (val && val.length && !_.isEqual(val, oldVal || {})) {
                        if (this.selectedGrade) {
                            if (!_.find(this.tableSidebarItems, { [this.categoryModelParamKey]: this.selectedGrade[this.categoryModelParamKey] })) {
                                // this.$nuxt.error({ statusCode: 404 })
                                this.selectedSubject = this.selectedSubject.name // @todo Temporaly fix
                            }
                        }
                    }
                },
                immediate: true,
            },
            $route: {
                handler (val, oldVal) {
                    if (this.rootRoute) {
                        this.gradesLoading = true
                        this.grades = []
                        this.$store.commit('skills/CLEAR_LIST')
                        this.selectedSubject = 'math'
                    }
                },
                immediate: true,
            },
            'pagination': {
                handler () {
                    if (!checkvisible(document.querySelector('.skills-table-anchor'))) {
                        this.$nextTick(() => {
                            document.querySelector('#page-header').
                            scrollIntoView()
                        })
                    }
                },
                deep: true,
            },
            queryParams: {
                handler (val, oldVal) {
                    if (this.nuxtSkillListPages) {
                        if (oldVal && oldVal.selectedSubject === null && oldVal.selectedGrade === null && oldVal.categoryBy === val.categoryBy && this.skills.length) {
                        } else if (!_.isEqual(val, oldVal)) {
                            if (val && oldVal && val.pagination.currentPage !== 1 && _.isEqual(val.pagination , oldVal.pagination)) {
                                this.pagination = {
                                    ...this.pagination,
                                    currentPage: 1
                                };
                                return;
                            }

                            this.skillsLoading = true
                            this.fetchSkills()
                        }
                    }

                },
                immediate: true,
            },
        },
        computed: {
            breadcrumb() {
                let arr = [
                    {
                        text: 'Dashboard',
                        to: this.routes.adminDashboard
                    },
                    {
                        text: 'Skills',
                        to: this.routes.adminDashboard.adminSkillsList
                    }
                ];

                if (this.nuxtChildPages) {
                    arr.push({
                        text: this.createSkillRoute ? 'Create' : 'Edit'
                    })
                }

                return _.map(arr, (item, index) => {
                    if (index === arr.length) {
                        return {
                            text: item.text,
                            active: true
                        }
                    }

                    return item;
                });
            },
            categoryModelParamKey() {
              return this.categoryByGrades ? 'code' : 'slug';
            },
            categoryByGrades() {
                return this.categoryBy === 'grades';
            },
            categoryByTopics() {
                return this.categoryBy === 'topics';
            },
            tableSidebarItems () {
                const vm = this
                if (!this.selectedSubject) {
                    return []
                }

                if (!this.grades.length) {
                    return []
                }

                const allArr = [
                    {
                        name: 'All',
                        [this.categoryModelParamKey]: '*',
                    }]

                return allArr.concat(
                  this.grades,
                ).map((item) => {

                    const route = {
                        path: `/admin/skills/${this.selectedSubject.name}/${item[this.categoryModelParamKey]}`
                    }

                    const icon = this.categoryByGrades ? {
                        type: 'fmv-avatar',
                        attrs: { title: item.code, circle: false },
                        id: item.code,
                    } : null

                    return {
                        ...item,
                        label: item.name || item.title,
                        class: `viewed-by__${this.categoryBy}`,
                        active: route.path === this.$nuxt.$route.path || !this.selectedGrade && item[this.categoryModelParamKey] === '*',
                        icon,
                        code: item.code,
                        slug: item.slug,
                        click: function () {
                            vm.$router.push({
                                ...route,
                                hash: vm.hashWithScrollIntoHeader(),
                            })
                        },
                    }
                })
            },
            tableSidebarHeading () {
                return _.capitalize(this.categoryBy);
            },
            selectedGrade: {
                get () {
                    return this.$route.params.grade ?
                      (
                        this.categoryByGrades
                          ? new this.$models.Grade(
                            { code: this.$route.params.grade })
                          : new this.$models.Topic(
                          { slug: this.$route.params.grade })
                      )
                        : null
                },
                set (value) {
                    this.$router.push(
                      {
                          path: `/admin/skills/${this.selectedSubject.name}/${value}`,
                          hash: this.hashWithScrollIntoHeader()
                      }
                      // this.routes.adminDashboard.adminSkillsList.adminSkillsListSubjectGrade.params(
                      //   {
                      //       subject: this.selectedSubject.name,
                      //       grade: value,
                      //   })
                    )
                },
            },
            selectedSubject: {
                get () {
                    return this.$route.params.subject
                      ? new this.$models.Subject(
                        { name: this.$route.params.subject })
                      : null
                },
                set (value) {
                    this.$router.push(
                      {
                          path: `/admin/skills/${value}`,
                          hash: this.hashWithScrollIntoHeader()
                      }
                      // this.routes.adminDashboard.adminSkillsList.adminSkillsListSubject.params(
                      //   {
                      //       subject: value,
                      //   })
                )
                },
            },
            rootRoute () {
                return !!this.routes.adminDashboard.adminSkillsList.path.match(
                  this.$nuxt.$route.matched[this.$nuxt.$route.matched.length -
                  1].regex)
            },
            createSkillRoute () {
                return _.last(this.$nuxt.$route.matched).path === this.routes.adminDashboard.adminSkillsCreate.path
            },
            editSkillRoute () {
                return _.last(this.$nuxt.$route.matched).path === this.routes.adminDashboard.adminSkillsEdit.path
            },
            subjectGradeRoute () {
                return _.last(this.$nuxt.$route.matched).path === `/admin/skills/:subject/:grade`
            },
            subjectRoute () {
                return _.last(this.$nuxt.$route.matched).path === `/admin/skills/:subject`
            },
            subjectsModels () {
                return this.$store.getters['subjects/databaseItems'].map(
                  (item) => new this.$models.Subject(item))
            },
            initLoading () {
                return this.gradesLoading && !this.grades.length
            },
            doubleLoading () {
                return false && this.skillsLoading && this.gradesLoading
            },
            queryParams () {
                let params = {
                    pagination: {},
                }

                params.selectedSubject = this.selectedSubject
                params.selectedGrade = this.selectedGrade
                params.pagination.perPage = this.pagination.perPage
                params.pagination.currentPage = this.pagination.currentPage
                params.search = this.search.length ? this.search : null
                params.sortBy = this.sortBy
                params.categoryBy = this.categoryBy

                return params
            },
            nuxtChildPages () {
                return this.createSkillRoute || this.editSkillRoute
            },
            nuxtSkillListPages() {
                return this.rootRoute || this.subjectGradeRoute || this.subjectRoute
            },
            skills() {
               return this.$store.getters['skills/listItems']
            },
            skillsMeta() {
               return this.$store.getters['skills/listMeta']
            },
        },
        methods: {
            fetchSkills: _.debounce(async function () {
                  if (!this.selectedSubject) {
                      return;
                  }
                this.skillsLoading = true
                // const uniqueId = _.uniqueId('skill_')

                const Skill = await new this.$models.Skill().page(
                  this.pagination.currentPage).limit(this.pagination.perPage)

                if (this.selectedGrade) {
                    if (this.categoryByGrades) {
                        Skill.where('grade', this.selectedGrade.code)
                    } else {
                        Skill.where('topic', this.selectedGrade.slug)
                    }
                }

                Skill.where('subject', this.selectedSubject.name)

                Skill.where('search', this.search)

                Skill.orderBy((this.sortBy === 'newest' ? '-' : '') + 'created_at');

                await Skill.throttle('skills').get()
                this.skillsLoading = false
            }, 500),
            async fetchGrades() {
                this.gradesLoading = true
                const uniqueId = _.uniqueId('grade_')

                const Grade = new this.$models.Grade()

                Grade.bySubject(this.selectedSubject)
                this.requestIds.grades = uniqueId
                await Grade.get().then(({ data }) => {
                    if (this.requestIds.grades === uniqueId) {
                        this.grades = data
                    }
                }).catch(() => {})
                if (this.requestIds.grades === uniqueId) {
                    this.gradesLoading = false
                }
            },
            async fetchTopics() {
                this.gradesLoading = true
                const uniqueId = _.uniqueId('grade_')

                const Topic = new this.$models.Topic()

                Topic.bySubject(this.selectedSubject)
                this.requestIds.grades = uniqueId
                await Topic.get().then(({ data }) => {
                    if (this.requestIds.grades === uniqueId) {
                        this.grades = data
                    }
                }).catch(() => {})
                if (this.requestIds.grades === uniqueId) {
                    this.gradesLoading = false
                }
            },
            fetchCategoryItems() {
                return this.categoryByGrades ? this.fetchGrades() : this.fetchTopics();
            },
            hashWithScrollIntoHeader() {
                return document.querySelector('.skills-table-anchor') ? checkvisible(document.querySelector(
                  '.skills-table-anchor'))
                  ? '#'
                  : '#page-header' : ''
            }
        },
    }
</script>

<style lang="scss">
    .page__admin-skills {
        &:first-child {
            padding: 0 !important;
        }
        .navbar-list {
            min-height: auto !important;
        }

        .card-footer {
            border-top: 1px solid #DFE2E6 !important;
        }

        .b-dropdown {
            .dropdown-toggle {
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
    }

    .skills-table__navigation {
        flex-wrap: wrap;
        .sidebar-menu-item {
            cursor: pointer;
            flex: 1 1 auto;

            .sidebar-menu-button {
                padding: 0 8px;
                &:hover{
                    color: #8A9199;
                }
                color: rgba(47, 55, 64, 0.4);

                .sidebar-menu-text {
                    text-align: center;
                    width: 100%;
                }
            }

            &.active {
                border-bottom: 4px solid #5567ff;
                border-radius: 0;

                .sidebar-menu-icon--left.avatar .avatar-title, .sidebar-menu-text {
                    color: #5567ff
                }
            }
        }
    }

</style>
