<template>
    <div class="page__admin-skills">
        <page-header
                class="pt-0 "
                id="page-header"
                :title="'Users'"
                :breadcrumb="breadcrumb"/>
        <div class="page-section">
            <div class="card">
                <table role="table" aria-busy="false" aria-colcount="3" class="table b-table" id="__BVID__4527"><!---->
                    <thead role="rowgroup" class="thead-light"><!---->
                    <tr role="row" class="">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class="">
                            <div>Users</div>
                            <span class="sr-only"> (Click to sort Ascending)</span></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="2" aria-sort="none"
                            class="text-right">
                            <div>Role</div>
                            <span class="sr-only"> (Click to sort Ascending)</span></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="3" aria-sort="descending"
                            class="text-right">
                            <div>Subscription</div>
                            <span class="sr-only"> (Click to sort Ascending)</span></th>
                    </tr>
                    </thead>
                    <tbody role="rowgroup"><!---->
                    <tr role="row" class="" v-for="member in members">
                        <td aria-colindex="1" role="cell" class="">
                            <div class="media align-items-center">
                                <div class="d-flex mr-3 align-self-center"><a
                                                                              class="overlay overlay--primary avatar avatar-4by3"
                                                                              target="_self"><img
                                        :src="member.avatar" :alt="member.name"
                                        class="avatar-img rounded"> <span class="overlay__content rounded"></span></a></div>
                                <div class="media-body"><a href="/default/instructor-edit-course" class="card-title"
                                                           target="_self"><strong>{{ member.name }}</strong></a>
                                    <small v-if="member.status === 'online'" class="text-muted  position-relative avatar-online">Status online</small>
                                    <small v-if="member.status === 'offline'" class="text-muted  position-relative avatar-offline">Status offline</small></div>
                            </div>
                        </td>
                        <td aria-colindex="2" role="cell" class="text-right">
                            <div class="text-70">
                                {{ member.role }}
                            </div>
                        </td>
                        <td aria-colindex="3" role="cell" class="text-right">
                            <div class="text-70">
                                {{ member.subscription }}
                            </div>
                        </td>
                    </tr>
                   </tbody><!----></table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "users",
        computed: {
            breadcrumb() {
                let arr = [
                    {
                        text: 'Dashboard',
                        to: this.routes.adminDashboard
                    },
                    {
                        text: 'Users',
                        to: this.routes.adminDashboard.adminUsersList
                    }
                ];

                return _.map(arr, (item, index) => {
                    if (index === arr.length) {
                        return {
                            text: item.text,
                            active: true
                        }
                    }

                    return item;
                });
            },
            members () {
                return [
                    {
                        avatar: '/images/people/50/woman-5.jpg',
                        name: 'Michelle Smith',
                        active: true,
                        status: 'online',
                        role: 'Parent',
                        subscription: 'Parent'
                    }, {
                        avatar: '/images/people/50/guy-2.jpg',
                        name: 'Jimmy Carter',
                        status: 'online',
                        role: 'Teacher',
                        subscription: 'Pro'
                    }, {
                        avatar: '/images/people/50/woman-2.jpg',
                        name: 'Samantha Doe',
                        status: 'online',
                        role: 'Student',
                        subscription: 'Base'
                    }, {
                        avatar: '/images/people/50/woman-1.jpg',
                        name: 'Beatriz Summers',
                        status: 'offline',
                        role: 'Teacher',
                        subscription: 'Teacher'
                    }, {
                        avatar: '/images/people/50/woman-3.jpg',
                        name: 'Cassie Wills',
                        status: 'offline',
                        role: 'Teacher',
                        subscription: 'Pro'
                    }, {
                        avatar: '/images/people/50/guy-1.jpg',
                        name: 'Jarrod Forrest',
                        active: true,
                        status: 'offline',
                        role: 'Parent',
                        subscription: 'Pro'
                    }, {
                        avatar: '/images/people/50/guy-3.jpg',
                        name: 'Ziva Ochoa',
                        status: 'offline',
                        role: 'Student',
                        subscription: 'Base'
                    }]
            },
        }
    }
</script>

<style scoped>
.avatar-online::before, .avatar-online::after, .avatar-offline::before, .avatar-offline::after {
    position: absolute;
    width: 4px;
    left: -8px;
    top: 7px;
    height: 4px;
    content: "";
    border-radius: 50%;
}
</style>