<template>
    <b-navbar
        type="light"
        toggleable="sm"
        class="navbar-list"
        style="white-space: nowrap;">
        <div>
            <nav class="nav navbar-nav">
                <div class="nav-item navbar-list__item">
                    <b-link
                        @click="$router.push(lastRoute && fromSkillList(lastRoute) ? {...lastRoute, hash: '#'} : routes.adminDashboard.adminSkillsList)"
                        class="nav-link h-auto">
                        <md-icon
                            left
                            v-text="'keyboard_backspace'" />
                        {{ $t('Back to skills') }}
                    </b-link>
                </div>
                <div v-if="editSkillRoute && skill" class="nav-item navbar-list__item">
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="mr-16pt">
                            <b-link>
                                <img
                                    :src="skill.image"
                                    width="40"
                                    class="rounded">
                            </b-link>
                        </div>
                        <div class="flex">
                            <b-link
                                class="card-title text-body mb-0">
                                {{ skill.title }}
                            </b-link>
                            <p class="lh-1 d-flex align-items-center mb-0">
                                <span class="text-50 small font-weight-bold mr-8pt">{{ skill.subject.name | subjectCapitalize }}:</span>
                                <span class="text-50 small">{{ skill.category_title }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </b-navbar>
</template>

<script>
    export default {
        name: 'CreateEditNavigation',
        props: {
          skills: {
              type: Array
          }
        },
        data() {
            return {
            }
        },
        computed: {
            shortcut() {
                return this.$nuxt.$route.params.shortcut || null;
            },
            lastRoute() {
                return this.$store.state.settings.router.last;
            },
            createSkillRoute () {
                return _.last(this.$nuxt.$route.matched).path === this.routes.adminDashboard.adminSkillsCreate.path
            },
            editSkillRoute () {
                return _.last(this.$nuxt.$route.matched).path === this.routes.adminDashboard.adminSkillsEdit.path
            },
            skillLoading() {
                return this.$store.state.skills.showLoading;
            },
            skill() {
                return this.$store.getters['skills/showItem']
            },
        },
        methods: {
            fromSkillList(route) {
                return route.matched.filter((match) => {
                    return !!this.routes.adminDashboard.adminSkillsList.path.match(match.regex);
                }).length;
            },
        },
    }
</script>

<style lang="scss" scoped>

</style>