<template>
    <div class="position-relative">
        <div @mouseleave="onMouseLeaveContainer" class="sidebar skills-table__sidebar-container sidebar-light sidebar-left bg-white"
             :class="{collapsed: collapsed, 'not-collapsed': !collapsed, collapsing: collapsing}" :style="containerStyles" ref="container">
            <div>
                <!-- Components menu -->
                <div class="sidebar-heading">
            <span class="sidebar-heading_head-text">
                {{ sidebarHeading }}
            </span>
                    <div class="sidebar-heading_button d-flex">
                        <b-btn
                            v-if="showCollapsingButton"
                            @click="onClickCollapsingButton"
                            type="submit">
                            <md-icon v-if="collapsedOrProcessOrAbsolute">reorder</md-icon>
                            <md-icon v-else>sort</md-icon>
                        </b-btn>
                    </div>
                </div>
                <div class="sidebar-menu__container" @mouseover.stop="onHoverContainer">
                    <div class="d-flex justify-content-center position-relative" >
                        <ColorsCirclesStrokeLoader v-if="loading" :size="1" :class="{'flex-column': collapsed}" :style="{height: collapsed && 'auto' || '', 'margin-left':  collapsed && '-12px' || ''}"></ColorsCirclesStrokeLoader>
                    </div>
                    <fmv-sidebar-menu :menu="reversedItems" :style="{opacity: loading ? 0 : 1}"/>
                </div>
            </div>
        </div>
        <div v-if="containerStyles.position === 'absolute'" class="sidebar skills-table__sidebar-container sidebar-light sidebar-left bg-white position-relative"
             style="z-index: 8;"
             :style="{height: doubleContainerHeight}"
             :class="{collapsed: true}">
            <div>
                <!-- Components menu -->
                <div class="sidebar-heading">
            <span class="sidebar-heading_head-text">
                {{ sidebarHeading }}
            </span>
                    <div class="sidebar-heading_button d-flex">
                        <b-btn
                            v-if="showCollapsingButton"
                            @click="onClickCollapsingButton"
                            type="submit">
                            <md-icon v-if="collapsedOrProcessOrAbsolute">reorder</md-icon>
                            <md-icon v-else>sort</md-icon>
                        </b-btn>
                    </div>
                </div>
                <div class="sidebar-menu__container">
                    <div class="d-flex justify-content-center position-relative" >
                        <ColorsCirclesStrokeLoader v-if="loading" :size="1" :class="{'flex-column': collapsed}" :style="{height: collapsed && 'auto' || '', 'margin-left':  collapsed && '-12px' || ''}"></ColorsCirclesStrokeLoader>
                    </div>
                    <fmv-sidebar-menu :menu="reversedItems" :style="{opacity: loading ? 0 : 1}"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        FmvDrawer,
        FmvSidebar,
    } from 'fmv-layout'

    // Fixed $watch
    import FmvSidebarMenu from '~/components/Navbar/SidebarMenu'

    const resizeFunc = function (handleFunction, container) {
        var element = container;
        var lastWidth = element.clientWidth;
        var lastHeight = element.clientHeight;

        return setInterval(function () {
            if (lastWidth === element.clientWidth && lastHeight ===
              element.clientHeight)
                return;
            if (typeof (handleFunction) == 'function') {
                handleFunction({ width: lastWidth, height: lastHeight },
                  { width: element.clientWidth, height: element.clientHeight });
                lastWidth = element.clientWidth;
                lastHeight = element.clientHeight;
            }
        })
    }

    export default {
        props: ['items', 'sidebarHeading', 'loading', 'containerAbsolute'],
        components: {
            FmvDrawer,
            FmvSidebar,
            FmvSidebarMenu
        },
        data() {
            return {
                collapsed: false,
                collapsing: false,
                showCollapsingButton: true,
                wasAutoHidden: false,
                containerStyles: {
                    position: 'static'
                },
                doubleContainerHeight: 'auto'
            }
        },
        watch: {
            'screen.lt.sm': {
                handler(val) {
                    if (val) {
                        if (!this.collapsed) {
                            this.toggleCollapse();
                            this.wasAutoHidden = true;
                        }
                        this.showCollapsingButton = false;
                    }
                },
                immediate: true
            },
            'screen.gt.md': {
                handler(val) {
                    if (val) {
                        this.showCollapsingButton = true;
                        if (this.collapsed && this.wasAutoHidden) {
                            this.toggleCollapse();
                        }
                    }
                },
                immediate: true
            }
        },
        computed: {
            reversedItems() {
              return _.reverse(this.items);
            },
            collapsedOrProcessOrAbsolute() {
                return this.collapsed && !this.collapsing || this.collapsing && !this.collapsed || this.containerStyles.position === 'absolute';
            }
        },
        methods: {
            toggleCollapse() {
                this.collapsing = true;
                setTimeout(() => {
                    this.collapsed = !this.collapsed
                    this.collapsing = false;
                }, 350)
            },
            onClickCollapsingButton() {
                this.wasAutoHidden = false;

                if (this.containerStyles.position === 'absolute') {
                    this.containerStyles.position = 'static';
                    this.doubleContainerHeight = 'auto'
                } else {
                    this.toggleCollapse()
                }
            },
            onMouseLeaveContainer() {
                if (this.containerStyles.position === 'absolute' && !this.collapsing) {
                    this.toggleCollapse();
                    setTimeout(() => {
                        this.containerStyles.position = 'static';
                        this.doubleContainerHeight = 'auto'
                    }, 350)
                    return true;
                }
                return false;
            },
            onHoverContainer($event) {
                if (this.containerAbsolute && this.collapsed && !this.collapsing && $event.target.className !== 'sidebar-menu') {
                    const intervalId = resizeFunc((sizes) => {
                        this.doubleContainerHeight = sizes.height + 'px'
                    }, this.$refs.container)
                    this.containerStyles.position = 'absolute';
                    this.toggleCollapse();
                    setTimeout(() => {
                       clearInterval(intervalId)
                    }, 350)
                }
            }
        },
        mounted () {

        }
    }
</script>

<style lang="scss">
    .skills-table__sidebar-container {
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 100%;
        overflow: visible;
        height: auto;
        z-index: 9;
        &.collapsed:not(.collapsing) {
            width: 60px;

            .sidebar-heading {
                .sidebar-heading_head-text {
                    opacity: 0;
                }
                .sidebar-heading_button {
                   width: 42px;
                }
            }
            .sidebar-menu-text {
                display: none;
            }

            .sidebar-menu-item {
                width: 60px;
                &.viewed-by__topics {
                    .sidebar-menu-button {
                        padding: 0 8px;
                        .sidebar-menu-text{
                            display: block;
                            width: 100%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            text-align: center;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .sidebar-heading {
            margin-bottom: 2rem;
            position: relative;
            padding-top: 5px;
            .sidebar-heading_head-text {
                white-space: nowrap;
            }
            .sidebar-heading_button {
                .btn {
                    background: none !important;
                    border: none !important;
                    box-shadow: none !important;
                    padding: 0;
                    font-size: 25px;
                    color: rgba(47, 55, 64, 0.4);
                    &:hover {
                        transition: all .1s ease;
                        color: #8A9199;
                    }
                }
                background: #fff;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        
        &.not-collapsed {
            width: 200px;
            .sidebar-heading {
                .sidebar-heading_head-text {
                    opacity: 1;
                }
                .sidebar-heading_button {
                   width: 49px;
                }
            }
        }

        &.not-collapsed.collapsing {
            width: 65px;
            .sidebar-heading {
                .sidebar-heading_head-text {
                    opacity: 0;
                }
                .sidebar-heading_button {
                   width: 42px;
                }
            }
        }

        &.collapsing {
            transition: width .35s ease;
            overflow: hidden;
            .sidebar-heading {
                .sidebar-heading_button {
                    transition: width .35s ease;
                }
                .sidebar-heading_head-text {
                    transition: opacity .35s ease;
                }
            }

            .sidebar-menu-item {
                width: auto;
                padding-left: auto;
            }
        }

        &.collapsed.collapsing {
            width: 200px;
            .sidebar-heading {
                .sidebar-heading_head-text {
                    opacity: 1;
                }
                .sidebar-heading_button {
                   width: 49px;
                }
            }
            .sidebar-menu-text {
                display: block;
            }
        }

        .loader__colors-circles-stroke {
            position: absolute;
            left: 50%;
            margin-left: -60px;
        }
        .sidebar-menu__container {
            width: 100%;
        }
        .sidebar-menu {
            width: 200px;
            display: flex;
            flex-direction: column-reverse;
        }
        .sidebar-menu-item {
            cursor: pointer;
            border-bottom: 1px solid rgba(47, 55, 64, 0.2);
            margin-right: 0;
            &.active{
                &, & + .sidebar-menu-item {
                      border-color: #5567ff;
                }
                border-right: 1px solid #5567ff;
                border-width: 1px;
                margin-top: -6px;
                padding-top: 6px;
                border-radius: 0 0px 10px 0;
                .sidebar-menu-icon--left.avatar .avatar-title, .sidebar-menu-text {
                    color: #5567ff
                }
            }

            .sidebar-menu-icon--left.avatar {
                width: 45px;
                height: auto;
                margin-right: 0;
                margin-left: -16px;
                text-align: center;
                padding-bottom: 4px;
                .avatar-title {
                    vertical-align: middle;
                    font-size: 24px;
                    display: inline-block;
                    line-height: normal;
                    position: relative;
                    color: rgba(47, 55, 64, 0.2);
                    background: transparent;
                }
            }
        }
    }
</style>