<template>
    <div
        :id="id"
        @click="() => {addsShow = true}"
        :class="[ boxed ? 'accordion--boxed' : null, listClass ]"
        class="skill-question__accordion accordion">
        <div
            @click="() => {addsShow ? $emit('open') : ''}"
            :key="`toc-section-${id}`"
            style="background: #f5f7fa;
    box-shadow: 0 0 5px #00000047;"
            class="accordion__item open">
            <b-link
                style="height: 58px;"
                v-b-toggle="`toc-section-${id}`"
                        class="accordion__toggle">
                <span
                    class="flex">
                    <legend tabindex="-1" class="bv-no-focus-ring col-form-label p-0 form-label">{{ title }}</legend>
                </span>
                <b-btn v-if="canDelete" @click="() => {addsShow = false; $emit('delete')}" variant="transparent" size="lg" class="mr-5 text-danger p-0">
                    <md-icon
                        class="accordion__toggle-icon"
                        v-text="'delete'" />
                </b-btn>
                        <md-icon
                            class="accordion__toggle-icon"
                            v-text="!visible ? 'keyboard_arrow_up' : 'keyboard_arrow_down'" />
            </b-link>
            <b-collapse
                :id="`toc-section-${id}`"
                :ref="`toc-collapse-${id}`"
                :accordion="accordionId"
                :visible="visible"
                class="accordion__menu"
                @hide="visible = false"
                @show="visible = true">
               <slot></slot>
            </b-collapse>
        </div>
    </div>
</template>

<script>
    import MdIcon from '~/components/Ui/MdIcon.vue'
    const uniqueId = require('lodash/uniqueId')

    export default {
        name: 'SkillQuestionAccordion',
        components: {
            MdIcon
        },
        model: {
            prop: 'value',
            event: 'change'
        },
        props: {
            listClass: {
                type: String,
                default: null
            },
            boxed: {
                type: Boolean
            },
            accordionId: {
                type: String,
                default() {
                    return this.id
                }
            },
            title: {},
            canDelete: {},
            visibled: {},
        },
        data() {
            return {
                visible: false,
                addsShow: true
            }
        },
        computed: {
            id() {
                return uniqueId('accordion_')
            }
        },
        watch: {
            visibled(val, oldVal) {
                if (val !== oldVal && val !== this.visible) {
                    this.visible = val;
                }
            }
        },
        methods: {
           
        }
    }
</script>

<style lang="scss">
    .skill-question__accordion {
        .accordion__toggle {
            /*padding: 0 8px;*/
            /*&:hover{*/
            /*    color: #8A9199;*/
            /*}*/
            color: rgba(47, 55, 64, 0.4);
            .btn {
                outline: none;
                border: none;
                box-shadow: none;
            }
            .accordion__toggle-icon {
                transform: none !important;
            }

            /*.sidebar-menu-text {*/
            /*    text-align: center;*/
            /*    width: 100%;*/
            /*}*/
        }
    }
</style>