<template>
   <div>
       <div class="d-flex position-relative">
           <slot name="sidebar"></slot>
           <div class="col">
               <slot name="navigation"></slot>
               <b-list-group
                   flush
                   class="border-0" style="width: 100%">
                   <b-list-group-item :style="!loading ? ['position:absolute', 'opacity: 0'] : []">
                                       <div class="skills-table-loader row align-items-start justify-content-center">
                                           <ColorsCirclesStrokeLoader :size="2"></ColorsCirclesStrokeLoader>
                                       </div>
                   </b-list-group-item>
                    <template v-if="!loading">
                        <b-list-group-item
                            v-if="localItems.length"
                            v-for="item in localItems"
                            :key="item.id"
                            class="p-3">
                            <div class="row align-items-top m-0">
                                <b-media
                                    class="align-items-top col-12 col-lg-6 p-0 mb-16pt mb-lg-0"
                                    style="max-width: 400px;"
                                    vertical-align="top">
                                    <fmv-avatar
                                        slot="aside"
                                        :src="item.image"
                                        :alt="item.title"
                                        landscape
                                        class="overlay overlay--primary">
                                        <template v-slot:after-img>
                                            <span class="overlay__content rounded" />
                                        </template>
                                    </fmv-avatar>

                                    <div class="card-title mb-0">{{ item.title }}</div>
                                    <p class="lh-1 mb-0">
                                        <span class="text-black-50 small font-weight-bold">{{ item.category_title }}</span>
                                    </p>
                                </b-media>
                                <div class="p-0 m-0 d-flex col-12 d-sm-block justify-content-between align-self-top align-self-lg-center mr-3 mt-lg-0 ml-lg-auto col-sm-6 col-lg-auto" style="width: 150px">
                                    <div class="d-flex align-items-center mb-4pt">
                                        <span class="material-icons icon-16pt text-black-50 mr-4pt">title</span>
                                        <p class="flex text-black-50 lh-1 mb-0">
                                            <small>{{ item.topic.name }}</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mb-4pt">
                                        <span class="material-icons icon-16pt text-black-50 mr-4pt">subject</span>
                                        <p class="flex text-black-50 lh-1 mb-0">
                                            <small>{{ item.subject.name | subjectCapitalize }}</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mb-4pt">
                                        <span class="material-icons icon-16pt text-black-50 mr-4pt">school</span>
                                        <p class="flex text-black-50 lh-1 mb-0">
                                            <small><strong>{{ item.grade.code }}</strong> grade</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col col-lg-auto text-center col-lg-auto d-flex flex-column justify-content-between mt-16pt mt-sm-0">
                                    <b-btn
                                        class="mb-4pt w-100"
                                        @click="$router.push({path: `/admin/skills/${item.shortcut}/edit`})"
                                        variant="primary"
                                        v-text="$t('Change Skill')"/>
                                    <small class="text-muted text-uppercase">{{ item.created_at | createdAt}}</small>
                                </div>
                            </div>
                        </b-list-group-item>
                        <b-list-group-item v-if="!localItems.length">
                            <div class="row align-items-start justify-content-center">
                                <div class="page-separator__text" style="background: transparent">Not found skills</div>
                            </div>
                        </b-list-group-item>
                    </template>
               </b-list-group>
           </div>
       </div>
   </div>
</template>

<i18n>
    {
    "ro": {
    "answers": "răspuns | răspunsuri"
    }
    }
</i18n>

<script>
    import {FmvAvatar} from 'fmv-avatar'
    import routeTo from '~/mixins/route-to'
    var dayjs = require('dayjs')

    export default {
        name: 'SkillsListTable',
        components: {
            FmvAvatar,
        },
        mixins: [routeTo],
        filters: {
          createdAt(val) {
              return dayjs(val).format('D MMM YYYY');
          }
        },
        props: {
            items: {
                type: Array,
                default() {
                    return []
                }
            },
            loading: {
                type: Boolean,
                default() {
                    return false;
                }
            }
        },
        computed: {
            localItems() {
                return this.items;
            }
        },
        mounted () {

        }
    }
</script>

<style lang="scss">
    .skills-table__navigation {
        margin-bottom: 10px;
    }
</style>