<template>
    <h1 class="text-shadow"> Single student progress</h1>
</template>

<script>
    export default {
        name: 'ProgressSingleStudent',
        middleware: ['roles'],
        meta: {
            roles: ['teacher', 'parent', 'admin', 'student']
        },
        asyncData({ params, $http, store, $auth, route, $router, redirect }) {
            if (params.studentId === '{studentId}' && $auth.user.role === 'student') {
                // redirect({ ...route, params: { studentId: '123' } })
            }

        }
    }
</script>

<style scoped>

</style>