<template>
    <div>
        <h1 class="text-shadow">In developing...</h1>
    </div>
</template>

<script>
    import Page from '~/components/Page'

    export default {
        name: 'ProgressGrowth',
        extends: Page,
        middleware: ['roles'],
        meta: {
            roles: ['parent', 'teacher', 'admin']
        },
    }
</script>

<style scoped>

</style>