<template>
    <div class="loader__colors-circles-stroke d-flex align-items-center" :style="{height: size > 1 ? (24 + size * 5) * 2 + 'px' : 24 * 2 + 'px'}">
        <div class="colors-circle__dot" v-for="n in 5" :style="{width: size > 1 ? 24 + size * 5 + 'px' : '', height: size > 1 ? 24 + size * 5 + 'px' : ''}"></div>
    </div>
</template>

<script>
    export default {
        name: 'ColorsCirclesStrokeLoader',
        props: {
            size: {
                default() {
                    return 1;
                }
            }
        }
    }
</script>

<style scoped>
    .loader__colors-circles-stroke {
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 40%;*/
        /*margin-left: 10%;*/
        /*transform: translate3d(-50%, -50%, 0);*/
    }
    .colors-circle__dot {
        width: 24px;
        height: 24px;
        background: #3ac;
        border-radius: 100%;
        display: inline-block;
        animation: slide 1s infinite;
    }
    .colors-circle__dot:nth-child(1) {
        animation-delay: 0.1s;
        background: #32aacc;
    }
    .colors-circle__dot:nth-child(2) {
        animation-delay: 0.2s;
        background: #64aacc;
    }
    .colors-circle__dot:nth-child(3) {
        animation-delay: 0.3s;
        background: #96aacc;
    }
    .colors-circle__dot:nth-child(4) {
        animation-delay: 0.4s;
        background: #c8aacc;
    }
    .colors-circle__dot:nth-child(5) {
        animation-delay: 0.5s;
        background: #faaacc;
    }
    @-moz-keyframes slide {
        0% {
            transform: scale(1);
        }
        50% {
            opacity: 0.3;
            transform: scale(2);
        }
        100% {
            transform: scale(1);
        }
    }
    @-webkit-keyframes slide {
        0% {
            transform: scale(1);
        }
        50% {
            opacity: 0.3;
            transform: scale(2);
        }
        100% {
            transform: scale(1);
        }
    }
    @-o-keyframes slide {
        0% {
            transform: scale(1);
        }
        50% {
            opacity: 0.3;
            transform: scale(2);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes slide {
        0% {
            transform: scale(1);
        }
        50% {
            opacity: 0.3;
            transform: scale(2);
        }
        100% {
            transform: scale(1);
        }
    }
</style>