<template>
    <div>
        <page-separator
            :title="$t('Language arts grades')" />
        <div v-if="loading" class="d-flex justify-content-center">
            <ColorsCirclesStrokeLoader
                :size="2"></ColorsCirclesStrokeLoader>
        </div>
        <grade-horizontal-card v-else v-for="grade in grades" :grade="grade">
        </grade-horizontal-card>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import GradeHorizontalCard
        from '../../components/Learning/GradeHorizontalCard'

    export default {
        name: 'LanguageArts',
        extends: Page,
        components: {
            GradeHorizontalCard
        },
        data() {
          return {
              grades: [],
              loading: false
          }
        },
        mounted() {

        },
        async fetch () {
            this.loading = true;

            const Grade = new this.$models.Grade()

            Grade.bySubject(new this.$models.Subject({name: 'language_arts'}))
            await Grade.get().then(({ data }) => {
                this.grades = data.map((grade) => {
                    return {
                        ...grade,
                        short_skills: grade.short_description.split(', ').map(i => { return {name: i}})
                    }
                })
            }).catch(() => {})
            this.loading = false;
        }
    }
</script>

<style scoped>

</style>