<template>
    <div>
        <page-separator
            :title="$t('Math grades')" />
        <grade-horizontal-card v-for="grade in grades" :grade="grade">
        </grade-horizontal-card>
    </div>
</template>

<script>
    import Page from '~/components/Page'
    import GradeHorizontalCard
        from '../../components/Learning/GradeHorizontalCard'

    export default {
        name: 'math',
        extends: Page,
        components: {
            GradeHorizontalCard
        },
        computed: {
            grades () {
                let grades = this.$store.getters['subjects/mathGrades'] || [];
                let short_skills = []

                grades.forEach((grade) => {
                    grade.short_skills.forEach((skill) => {
                        short_skills.push(skill.name);
                    })
                })

                grades.short_skills = short_skills;

                return grades
            },
        }
    }
</script>

<style scoped>

</style>